@{
    Layout = "~/views/Shared/Layout.cshtml";
}  

@model ILG_Global.BussinessLogic.Models.HtmlContentDetail

<div class="container terms-container pt-3">

@Html.Raw(Model.Summary)

@*<section>
            <h1 class="py-4 text-center text-decoration-underline">
               سياسة الخصوصية
            </h1>
            <h2 class="pb-2">
                تحترم المجموعة القانونية المتكاملة المشار إليها لاحقاً بـ "المتكاملة" أو "نحن"
            </h2>
                 <p>
                     حقك في الخصوصية( في هذا الإشعار، تشير كلمة "أنت" إلى صاحب البيانات (العملاء، والموظفون، وزوار الموقع الإلكتروني، أو الموظفون المؤقتون) الذين تتم معالجة بياناتهم الشخصية من قبل المجموعة القانونية المتكاملة.
                 </p>
            <ul class="dashed">
                <li>
                    يوضح إشعار الخصوصية هذا من نحن، وكيفية جمعنا ومشاركتنا واستخدامنا للبيانات الشخصية الخاصة بك، وكيفية قيامك بممارسة حقوق الخصوصية الخاصة بك. وينطبق إشعار الخصوصية هذا فقط على المعلومات الشخصية التي نجمعها من خلال موقعنا   الموقع الإلكتروني www.ilgglobal.com )) .
                </li>
                <li>
                    إذا كانت لديك أي استفسارات أو مخاوف بشأن استخدامنا لمعلوماتك الشخصية، فيرجى الاتصال بنا على أرقام وعناوين الاتصال الواردة ضمن قسم "كيفية الاتصال بنا" أدناه.
                </li>
                <li>
                   نوصي بقراءة هذا الإشعار بالكامل لضمان الاطلاع على محتوياته بشكل كامل. إلا أنه في حال رغبتك في الوصول إلى قسم معين منه، فيمكنك الضغط على الرابط ذي الصلة أدناه للانتقال مباشرة إلى هذا القسم.
                </li>
            </ul>
        </section>

        <section>
            <h2 class="pb-2">
                ما هي المعلومات الشخصية التي تقوم المجموعة القانونية المتكاملة بجمعها ولماذا؟
            </h2>
            <p>
                تشمل المعلومات الشخصية التي قد نقوم بجمعها عنك الفئات التالية بشكل رئيسي:
            </p>
            <ul class="square">
                <li class="pb-3">
                    <h2>
                        المعلومات التي تقوم بتقديمها طوعياً
                    </h2>
                    <p>
                        بشكل عام، لم يتم تصميم الموقع الإلكتروني الخاص بنا لجمع المعلومات من الزوار، ولكن عندما نطلب منك معلومات شخصية
                        عبر الإنترنت، فسيكون ذلك فقط ردًا على طلبك أو استخدامك لأحد خدماتنا عبر الإنترنت. وبدلاً من ذلك، تقوم المجموعة
                        القانونية المتكاملة بجمع هذه المعلومات عند زيارتك لمكاتبنا.
                    </p>
                </li>
                <li class="pb-3">
                    <h2>
                        وتشمل نوعيات المعلومات التي نطلب منك تقديمها، وأسباب طلبنا منك تقديمها، ما يلي:
                    </h2>
                    <div>
                        <table class="table table-striped my-3 w-100" >
                            <tbody>
                            <tr>
                                <td width="220">
                                    <p><strong>نوع البيانات</strong></p>
                                </td>
                                <td width="348">
                                    <p>لماذا نطلبها</p>
                                </td>
                            </tr>
                            <tr class="table-danger">
                                <td width="220">
                                    <p>الاسم- بيانات الاتصال مثل: (العنوان - رقم الهاتف - عنوان البريد الإلكتروني)&nbsp;</p>
                                </td>
                                <td width="348">
                                    <p>لغرض تنفيذ طلبات الخدمات القانونية ولتوفير تلك الخدمات لك (للعملاء الأفراد) أو لصاحب العمل
                                        (لعملاء الشركات) وللتواصل معك فيما يتعلق بتلك الخدمات.</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="220">
                                    <p>البيانات الشخصية التي قد تقدمها في الاتصالات</p>
                                </td>
                                <td width="348">
                                    <p>عندما نتواصل معك عبر الإنترنت أو الموبايل، فيمكن أن تقوم بتقديم بيانات شخصية في هذه المراسلات
                                        مثل البيانات المتعلقة باستفسارات أو شكاوى مثل رقم الموبايل أو عنوان البريد الإلكتروني.</p>
                                </td>
                            </tr>
                            <tr class="table-danger">
                                <td width="220">
                                    <p>العمر</p>
                                </td>
                                <td width="348">
                                    <p>للتحقق من أنه مسموح لنا قانونًا بتقديم خدمات قانونية لك.</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="220">
                                    <p>الاسم- بيانات الاتصال مثل: (العنوان - رقم الهاتف - عنوان البريد الإلكتروني)&nbsp;</p>
                                </td>
                                <td width="348">
                                    <p>إذا قمت بزيارة مقارنا، فقد نقوم بتسجيل زياراتك لأغراض أمنية.</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>
                        إذا طلبنا منك تقديم أي معلومات شخصية أخرى بخلاف البيانات المبينة أعلاه، فسوف نبين لك بوضوح أسباب طلب هذه المعلومات.
                    </p>
                </li>

                <li class="pb-3">
                    <h2>
                        المعلومات التي تقوم بتقديمها طوعياً
                    </h2>
                    <p>
                        عند زيارتك لموقعنا، قد نقوم بجمع معلومات معينة من جهازك بشكل تلقائي. وفي بعض البلدان، يمكن اعتبار هذه المعلومات معلومات شخصية طبقاً لقوانين حماية البيانات المعمول بها.
                    </p>
                    <p>
                        وعلى وجه التحديد، قد تتضمن المعلومات التي نقوم بجمعها تلقائيًا معلومات مثل عنوان بروتوكول الإنترنت IP الخاص بك، ونوع الجهاز، وأرقام التعريف الخاصة بالجهاز، ونوع المتصفح، والموقع الجغرافي العام (مثل الدولة أو المدينة) وغيرها من المعلومات التقنية. كما قد نقوم أيضاً بجمع معلومات عن كيفية تفاعل جهازك مع موقعنا، بما في ذلك الصفحات التي تم دخولها والروابط التي تم الضغط عليها.
                    </p>
                    <p>
                        ويتيح لنا جمع هذه المعلومات فهم زوار موقعنا على نحو أفضل، وأماكن تواجدهم، والمحتوى الذي يهمهم على موقعنا، حيث نستخدم هذه المعلومات لأغراض عمليات التحليل الداخلية لدينا ولتحسين جودة وملاءمة موقعنا الإلكتروني لزوارنا.
                    </p>
                    <p>
                        قد يتم جمع بعض هذه المعلومات باستخدام ملفات تعريف الارتباط وتقنيات التتبع المشابهة، كما هو موضح بشكل مفصل في إشعار ملفات تعريف الارتباط الخاص بنا.
                    </p>
                </li>
                <li class="pb-3">
                    <h2>
                        الأسس القانونية لمعالجة المعلومات الشخصية
                    </h2>
                    <p>
                        يعتمد الأساس القانوني لقيامنا بجمع واستخدام المعلومات الشخصية المذكورة أعلاه على نوعية المعلومات الشخصية والسياق
                        المعين الذي نقوم بجمعها فيه.
                    </p>
                    <p>
                        ومع ذلك، فإننا عادةً لا نقوم بجمع المعلومات الشخصية منك إلا بعد الحصول على موافقتك للقيام بذلك، أو عند الحاجة
                        لهذه المعلومات لإبرام العقود معك، أو عندما يكون استخدام هذه المعلومات لخدمة حقوقنا المشروعة دون انتهاك حقوق
                        حماية البيانات أو الحقوق والحريات الأساسية الخاصة بك. كما قد نحتاج إلى المعلومات الشخصية لحماية مصالحك الهامة أو
                        المصالح الخاصة بأشخاص آخرين.
                    </p>
                    <p>
                        إذا قمنا بطلب معلومات شخصية منك في إطار الالتزام بمتطلبات قانونية أو لإبرام العقود معك، فسنقوم بتوضيح ذلك في
                        الوقت المناسب، كما سنبلغك بما إذا كان تقديم معلوماتك الشخصية إلزاميًا أم لا (بالإضافة إلى التبعات المحتملة في
                        حال عدم تقديم معلوماتك الشخصية).
                    </p>
                    <p>
                        وبالمثل، فإذا قمنا بجمع واستخدام معلوماتك الشخصية استناداً إلى حقوقنا المشروعة (أو مصالح أي من الغير)، فسوف نقوم
                        في الوقت المناسب بتوضيح ماهية هذه الحقوق المشروعة لك.
                    </p>
                    <p>
                        إذا كان لديك استفسارات أو كنت بحاجة إلى مزيد من المعلومات بشأن الأسس القانونية الذي نقوم بجمع معلوماتك الشخصية
                        واستخدامها بناءً عليها، فيرجى الاتصال بنا على أرقام وعناوين الواردة ضمن قسم "كيفية الاتصال بنا" أدناه.
                    </p>
                </li>
            </ul>
        </section>


        <section>
            <h2 class="pb-2">
                كيف تحافظ المجموعة القانونية المتكاملة على أمن معلوماتي الشخصية؟
            </h2>
            <p>
                تقوم المجموعة القانونية المتكاملة بتطبيق الإجراءات التقنية والمؤسسية المناسبة لحماية المعلومات الشخصية التي
                نجمعها عنك ونقوم بمعالجتها. وقد تم تصميم هذه الإجراءات المستخدمة لتوفير مستوى أمان مناسب لمخاطر معالجة معلوماتك
                الشخصية. وتشمل الإجراءات المحددة التي نستخدمها ما يلي، على سبيل المثال لا الحصر:
            </p>
            <ul class="dashed">
                <li>
                    أنظمة التحكم في الوصول المادي.
                </li>
                <li>
                    تواجد أفراد الأمن.
                </li>
                <li>
                    ضوابط الوصول المنطقي (مثل كلمات السر).
                </li>
                <li>
                    أنظمة الأمن المحيط (مثل جدران الحماية).

                </li>
                <li>
                    تصنيف المعلومات وإجراءات التعامل معها.

                </li>
            </ul>
            <p>
                لقد قمنا بوضع إجراءات للتعامل مع أي حالات اشتباه بانتهاك لخصوصية البيانات الشخصية. وفي حالة وجود متطلبات قانونية
                بإخطارك بأي وصول غير مصرح به إلى بياناتك الشخصية، فقد نقوم بإخطارك بذلك إلكترونياً أو كتابياً أو عن طريق الهاتف.
                كما سنقوم بإخطار أية جهات رقابية معنية بانتهاك خصوصية البيانات في حال كان مطلوباً منا القيام بذلك بموجب للقانون.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                الاحتفاظ بالبيانات
            </h2>
            <p>
                تقوم المجموعة القانونية المتكاملة بالاحتفاظ بالمعلومات الشخصية التي نجمعها منك طالما كان ذلك ضرورياً للغرض الذي تم جمعها من أجله ولاستيفاء المتطلبات القانونية والرقابية والتشغيلية (على سبيل المثال، لتزويدك بالخدمة التي طلبتها ).
            </p>
            <p>
                وعندما لا تكون هناك حاجة مستمرة للعمل لدينا لمعالجة معلوماتك الشخصية، فسوف نقوم إما بحذفها أو إخفاء هويتها أو، إذا لم يكن ذلك ممكنًا (على سبيل المثال، بسبب تخزين معلوماتك الشخصية في أرشيفات النسخ الاحتياطية)، فسنقوم حينها بتخزين معلوماتك الشخصية بشكل آمن واستبعادها من أية عمليات معالجة أخرى حتى يتسنى لنا حذفها
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                عملية اتخاذ القرار بشكل آلي
            </h2>
            <p>
                القرارات الآلية هي قرارات تخصك يتم اتخاذها بشكل تلقائي على أساس منطقية لدى أجهزة الكمبيوتر (باستخدام خوارزميات البرامج)، دون مراجعة بشرية. ولا تقوم المجموعة القانونية المتكاملة باستخدام هذه النوعية من عمليات اتخاذ القرار بشكل آلي.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                حقوق حماية البيانات الخاصة بك
            </h2>
            <ul class="square">
                <li class="pb-3">
                    <h2>
                        لديك حقوق حماية البيانات التالية:
                    </h2>
                    <p>
                        إذا كنت ترغب في الوصول إلى معلوماتك الشخصية أو تصحيحها أو تحديثها أو طلب حذفها، فيمكنك القيام بذلك في أي وقت عن
                        طريق الاتصال بنا على أرقام وعناوين الواردة ضمن قسم "كيفية الاتصال بنا" أدناه.
                    </p>
                </li>
            </ul>
        </section>

        <section>
            <h2 class="pb-2">
                تحديثات إشعار الخصوصية
            </h2>
            <p>
                قد نقوم بتحديث هذا الإشعار من حين لآخر في ضوء التطورات الرقابية أو القانونية أو التقنية أو التجارية المتغيرة.
                ويمكنك معرفة تاريخ آخر تحديث لإشعار الخصوصية عن طريق التحقق من التاريخ المعروض أعلى الإشعار.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                كيفية التواصل معنا؟
            </h2>
            <p>
                إذا كان لديك أي استفسارات أو مخاوف بشأن استخدامنا لمعلوماتك الشخصية، فيرجى الاتصال بمسؤول حماية البيانات لدينا
                على عنوان البريد الإلكتروني التالي: <a href="mailto:DataPrivacy@ilgglobal.com">DataPrivacy@ilgglobal.com</a>
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                إشعار ملفات تعريف الارتباط
            </h2>
              <ul class="dashed">
                  <li>
                      تاريخ الإصدار الأول: 1 يناير 2021
                  </li>
                  <li>
                      تاريخ آخر تحديث: غير متوفر
                  </li>
              </ul>

            <p>
                يتضمن هذا الإشعار توضيحات بشأن كيفية استخدام المجموعة القانونية المتكاملة المشار إليها لاحقاً بـ "المتكاملة" أو
                "نحن" ) ملفات تعريف الارتباط في صفحات الإنترنت الخاصة بموقعنا الإلكتروني)
            </p>
            <p>
                الموقع : <a href="http://www.ilgglobal.comالموقع">www.ilgglobal.com</a>
            </p>
            <p>
                مع بيان ماهية ملفات تعريف الارتباط وأسباب استخدامها.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                ما هي ملفات تعريف الارتباط؟
            </h2>
            <p>
                ملفات تعريف الارتباط هي ملفات بيانات صغيرة يتم وضعها على جهاز الكمبيوتر أو الجهاز المحمول الخاص بك عند زيارة
                لمواقع الإنترنت، حيث تُستخدم ملفات تعريف الارتباط على نطاق واسع للقيام بوظائف مختلفة، مثل السماح لك بالتنقل بين
                الصفحات بكفاءة وحفظ تفضيلاتك وتحسين تجربة التصفح بشكل عام. ويتم حذف بعض ملفات تعريف الارتباط بمجرد إغلاق
                المتصفح، حيث تُعرف هذه الملفات باسم ملفات تعريف ارتباط الجلسة، بينما يبقى النوع الآخر من هذه الملفات على جهازك
                لحين انتهاء صلاحيتها أو حذفها من ذاكرة التخزين المؤقت، حيث تُعرف هذه الملفات بملفات تعريف الارتباط الدائمة،
                والتي تمكننا من تذكر بعض الأمور عنك عند العودة لزيارة الموقع. ويستخدم الموقع الإلكتروني المجموعة القانونية
                المتكاملة كلاً من ملفات تعريف ارتباط الجلسة وملفات تعريف الارتباط الدائمة.
            </p>
            <p>
                ففي حال زيارتك لموقعنا الإلكتروني، فإننا نقوم بجمع معلومات عن استخدامك لموقعنا ومعلومات عن الجهاز أو المتصفح الذي
                تستخدمه في الدخول إلى الموقع وغير ذلك من المعلومات.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                ملفات تعريف الارتباط في رسائل البريد الإلكتروني
            </h2>
            <p>
                بالإضافة إلى ملفات تعريف الارتباط التي نستخدمها على موقعنا الإلكتروني، فإننا نستخدم ملفات تعريف الارتباط
                والتقنيات المشابهة في رسائل البريد الإلكتروني، حيث تساعدنا على معرفة قيامك بقراءة رسائل البريد الإلكتروني وكيفية
                تفاعلك معها. ويمكن أيضًا وضع ملفات تعريف الارتباط للتعرف على قيامك بفتح الروابط الموجودة في رسائل البريد
                الإلكتروني.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                أسباب استخدام ملفات تعريف الارتباط
            </h2>
            <p>
                تقوم المجموعة القانونية المتكاملة باستخدام عدد محدود من ملفات تعريف الارتباط لعدة أسباب من ضمنها تقديم خدمة
                إلكترونية أكثر ملاءمة للجهاز الذي تتصل منه، بالإضافة إلى تحسين تجربتك في تصفح الموقع من خلال تتبع سلوكك داخل
                الموقع والتأكد من عدم مشاهدتك لنفس العروض الخاصة بشكل متكرر. بينما تكون هناك بعض ملفات تعريف الارتباط المطلوبة
                لأسباب فنية خاصة بعمل الموقع، والتي نطلق عليها ملفات تعريف ارتباط "أساسية" أو "ضرورية للغاية". كذلك، فإن هناك
                ملفات تعريف ارتباط أخرى والتي تمكننا من تتبع استخدام الموقع.
            </p>
        </section>


        <section>
            <h2 class="pb-2">
                روابط المواقع الأخرى
            </h2>
            <p>
                يحتوي موقعنا على روابط لمواقع أخرى، والتي قد تستخدم ملفات تعريف الارتباط إذا قمت بدخولها. لذا، يرجى الاطلاع على
                أي إشعارات خصوصية بشأن ملفات تعريف الارتباط على تلك المواقع في حال رغبتك في التعرف على ملفات تعريف الارتباط
                المستخدمة.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                كيف يمكنني التحكم في ملفات تعريف الارتباط؟
            </h2>
            <p>
                يمكنك ضبط أو تعديل عناصر تحكم متصفح الإنترنت الخاص بك لقبول ملفات تعريف الارتباط أو رفضها. وفي حال اختيارك لرفض
                هذه الملفات، فسوف يبقى بإمكانك استخدام موقعنا الإلكتروني، ولكن مع عدم إمكانية استخدام بعض الوظائف والأماكن
                الموجودة في الموقع. ونظرًا لأن الوسائل التي يمكنك من خلالها رفض ملفات تعريف الارتباط من خلال عناصر التحكم في
                متصفح الإنترنت الخاص بك تختلف من متصفح لآخر، فإنه يجب عليك الاطلاع على قائمة المساعدة الخاصة بالمتصفح المستخدم
                للحصول على مزيد من المعلومات.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                ما هي دورية تحديث إشعار ملفات تعريف الارتباط؟
            </h2>
            <p>قد يتم تغير الأطر التي يخضع لها استخدام ملفات تعريف الارتباط مستقبلاً في ضوء إصدار تشريعات جديدة. لذا، قد نقوم

                بتحديث هذا الإشعار من حين لآخر اتساقاً مع هذه التغييرات.</p>
            <p>
                لذلك، يرجى إعادة الاطلاع على هذا الإشعار بانتظام للبقاء على علم بما يخص استخدامنا لملفات تعريف الارتباط والتقنيات
                ذات الصلة.
            </p>
        </section>

        <section>
            <h2 class="pb-2">
                كيفية التواصل معنا؟
            </h2>
            <p>
                إذا كان لديك أي استفسارات أو مخاوف بشأن استخدامنا لمعلوماتك الشخصية، فيرجى الاتصال بمسؤول حماية البيانات لدينا
                على عنوان البريد الإلكتروني التالي:&nbsp;<a href="mailto:DataPrivacy@ilgglobal.com">DataPrivacy@ilgglobal.com</a>
            </p>
        </section>*@
</div>

@*<section>
    <h1 class="py-4 text-center text-decoration-underline">
        PRIVACY NOTICE
    </h1>
    <p>
        Integrated Legal Group (hereafter referred to as "we" or “our” or "us" or “ILG”) respects your right to privacy. In this Notice, “You” refers to data subject (customers, employees, website visitors or contingent workers) whose personal data is processed by ILG.
        This Privacy Notice explains who we are, how we collect, share and use personal data about you, and how you can exercise your privacy rights. This Privacy Notice only applies to personal information that we collect through (“Website”) (www.ilgglobal.com), Mobile Application or through our Branches and offices.
        If you have any questions or concerns about our use of your personal information, then please contact us using the contact details provided under the “How to contact us” heading below.
        We recommend that you read this Privacy Notice in full to ensure you are fully informed. However, if you only want to access a particular section of this Privacy Notice, then you can click on the relevant link below to jump to that section.
    </p>
</section>

<section>
    
    <h2 class="pb-2">
        What Personal Information Does ILG Collect and Why?
    </h2>
    <p>
        The personal information that we may collect about you broadly falls into the following categories:
    </p>
    <ul class="square">
        <li class="pb-3">
            <h2>
                The personal information that we may collect about you broadly falls into the following categories:
            </h2>
            <p>
                Generally, our Website is not designed to collect information from visitors, however when we ask you for personal information online it will only be in response to you applying for or using one of our online products or services. Alternatively, we will collect such information when you visit our branches / subsidiaries.
            </p>
        </li>
        <li class="pb-3">
            <h2>
                The types of information we ask you to provide, and the reasons why we ask you to provide it, include:
            </h2>
            <div>
                <table class="table table-striped my-3 w-100">
                    <tbody>
                    <tr>
                        <td width="220">
                            <p><strong>Category of Data</strong></p>
                        </td>
                        <td width="348">
                            <p>Purpose of Processing</p>
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td width="220">
                            <p>
                                Name and contact details such as
                                address, telephone number and
                                email
                            </p>
                        </td>
                        <td width="348">
                            <p>
                                Name and contact details such as
                                address, telephone number and
                                email
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="220">
                            <p>
                                Personal data you may provide in
                                communications
                            </p>
                        </td>
                        <td width="348">
                            <p>
                                Where we are corresponding with you online or by phone, you may provide personal data in that correspondence such as in connection with an enquiry or complaint such as a mobile number or email address.
                            </p>
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td width="220">
                            <p>Age</p>
                        </td>
                        <td width="348">
                            <p>
                                Age To verify we are legally permitted to provide legal products and services to you
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="220">
                            <p>
                                Visitors’ Name and contact details such as address, telephone number and email
                            </p>
                        </td>
                        <td width="348">
                            <p>
                                Visitors’ Name and contact details such as address, telephone number and email If you visit our premises, we may record your visits for security purposes.
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p>
                If we ask you to provide any other personal information not described above, we will explicitly explain the reason for requesting this information.
            </p>
        </li>

        <li class="pb-3">
            <h2>
                Information That We Collect Automatically
            </h2>
            <p>
                When you visit our Website, we may collect certain information automatically from your device. In some countries, this information may be considered personal information under applicable data protection laws.
            </p>
            <p>
                Specifically, the information we collect automatically may include information like your IP address, device type, unique device identification numbers, browser-type, broad geographic location (e.g. country or city-level location) and other technical information. We may also collect information about how your device has interacted with our Website, including the pages accessed and links clicked.
            </p>
            <p>
                Collecting this information enables us to better understand the visitors who come to our Website, where they come from, and what content on our Website is of interest to them. We use this information for our internal analytics purposes and to improve the quality and relevance of our Website to our visitors.
            </p>
            <p>
                Some of this information may be collected using cookies and similar tracking technology, as explained further in our Cookies Notice.
            </p>
        </li>
        <li class="pb-3">
            <h2>
                Legal Basis for Processing Personal Information
            </h2>
            <p>
                Our legal basis for collecting and using the personal information described above will depend on the personal information concerned and the specific context in which we collect it.
            </p>
            <p>
                However, we will normally collect personal information from you only where we have your consent to do so, where we need the personal information to perform a contract with you, or where the processing is in our legitimate interests and not overridden by your data protection interests or fundamental rights and freedoms. In some cases, we may also have a legal obligation to collect personal information from you or from third parties or may otherwise need the personal information to protect your vital interests or those of another person.
            </p>
            <p>
                If we ask you to provide personal information to comply with a legal requirement or to perform a contract with you, we will make this clear at the relevant time and advise you whether the provision of your personal information is mandatory or not (as well as of the possible consequences if you do not provide your personal information).
            </p>
            <p>
                Similarly, if we collect and use your personal information in reliance on our legitimate interests (or those of any third party), we will make clear to you at the relevant time what those legitimate interests are.
            </p>
            <p>
                If you have questions about or need further information concerning the legal basis on which we collect and use your personal information, please contact us using the contact details provided under the “How to contact us” heading below.
            </p>
        </li>
    </ul>
</section>


<section>
    <h2 class="pb-2">
        How Does ILG Keep My Personal Information Secure?
    </h2>
    <p>
        We use appropriate technical and organizational measures to protect the personal information that we collect and process about you. The measures we use are designed to provide a level of security appropriate to the risk of processing your personal information. Specific measures we use include, however not limited to:
    </p>
    <ul class="dashed">
        <li>
            Physical access control systems
        </li>
        <li>
            A physical security presence
        </li>
        <li>
            Logical access controls (such as passwords)
        </li>
        <li>
            Perimeter security systems (such as firewalls)
        </li>
        <li>
            Information Classification and Handling Measures
        </li>
    </ul>
    <p>
        We have put in place procedures to deal with any suspected personal data breach. In the event that we are required by law to inform you of any unauthorized access to your personal data we may notify you electronically, in writing, or by telephone. We will also notify any applicable regulator of a data breach where we are legally required to do so.
    </p>
</section>


<section>
    <h2 class="pb-2">
        Data Retention
    </h2>
    <p>
        We retain personal information we collect from you as long as necessary for the purpose for which it is collected and to meet legal, regulatory and operational requirements (for example, to provide you with a service you have requested or to comply with applicable regulatory, legal, tax or accounting requirements).
    </p>
    <p>
        When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
    </p>
</section>


<section>
    <h2 class="pb-2">
        Automated Decision-making
    </h2>
    <p>
        Automated decisions are decisions concerning you which are made automatically on the basis of a computer determination (using software algorithms), without human review. We do not use automated decision-making.
    </p>
</section>


<section>
    <h2 class="pb-2">
        Your Data Protection Rights
    </h2>
    <ul class="square">
        <li class="pb-3">
            <h2>
                You have the following data protection rights:
            </h2>
            <p>
                If you wish to access, correct, update or request deletion of your personal information, you can do so at any time by contacting us using the contact details provided under the “How to contact us” heading below.
            </p>
        </li>
    </ul>
</section>


<section>
    <h2 class="pb-2">
        Updates to This Privacy Notice
    </h2>
    <p>
        We may update this Privacy Notice from time to time in response to changing regulatory, legal, technical or business developments. You can see when this Privacy Notice was last updated by checking the date displayed at the top of this Privacy Notice.
    </p>
</section>


<section>
    <h2 class="pb-2">
        How to Contact Us?
    </h2>
    <p>
        If you have any questions or concerns about our use of your personal information, please contact our Data Protection Officer using the following details: <a href="mailto:DataPrivacy@ilgglobal.com">DataPrivacy@ilgglobal.com</a>
    </p>
</section>


<section>
    <h2 class="pb-2">
        COOKIE NOTICE
    </h2>
    <p>
        This Notice explains how Integrated Legal Group (hereafter referred to as "we" or “our” or "us" or “ILG”) uses cookies in the web pages of our website at www. ilgglobal.com ("Website"). It explains what these cookies are and why we use them.
    </p>
</section>

<section>
    <h2 class="pb-2">
        What Are Cookies?
    </h2>
    <p>
        Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used to do different jobs, like letting you navigate between pages efficiently, remembering your preferences and generally improving your browsing experience. Some cookies are deleted when you close down your browser. These are known as session cookies. Others remain on your device until they expire or you delete them from your cache. These are known as persistent cookies and enable us to remember things about you as a returning visitor. This website uses both session and persistent cookies.
    </p>
</section>

<section>
    <h2 class="pb-2">
        Why Do We Use Cookies?
    </h2>
    <p>
        We use a limited number of cookies for several reasons. One is to provide an online service more suited to the device you connect from, as well as to enhance your online experience by keeping track of your behavior within the site and to make sure you do not see the same special offers repeatedly. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track the use of our Website. This is described in more detail in the table below.
    </p>
</section>

<section>
    <h2 class="pb-2">
        Links to Other Websites
    </h2>
    <p>
        Our Website contains links to other websites. If you access those other websites they may use cookies. Please read any cookie privacy notices on those websites if you wish to know what cookies are being used.1
    </p>
</section>

<section>
    <h2 class="pb-2">
        How Can I Control Cookies?
    </h2>
    <p>
        You can set or amend your web browser controls to accept or refuse cookies. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information.
    </p>
</section>

<section>
    <h2 class="pb-2">
        How Often Will You Update This Cookie Notice?
    </h2>
    <p>
        New regulations may change the way in which the use of cookies is governed in the future. We may update this Cookie Notice from time to time in order to reflect these changes.
    </p>
    <p>
        Please therefore re-visit this Cookie Notice regularly to stay informed about our use of cookies and related technologies.
    </p>
    <p>
        The date at the top of this Cookie Notice indicates when it was last updated.
    </p>
</section>

<section>
    <h2 class="pb-2">
        How to Contact Us?
    </h2>
    <p>
        If you have any questions or concerns about our use of your personal information, please contact our Data Protection Officer using the following details: <a href="mailto:DataPrivacy@ilgglobal.com">DataPrivacy@ilgglobal.com</a>
    </p>
</section>*@