@using ILG_Global.BussinessLogic.ViewModels
@model AboutILGSectionVM
@{
}

<!-- ============================= about-section ====================================================-->
        <section id="about" class="home-section our-service-section general-section position-relative" dir="ltr">
            <div class="shield-bg col-2 col-sm-2 col-md-12">
                <img class="w-auto h-100" src="~/Assets/images/OurServiceBackGround.svg">
            </div>
            <div id="about-container" class="container ">
                <div class="row about-list justify-content-between align-items-center flex-column flex-sm-column flex-md-row">
                 
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center  flex-column">
                        <div class="row title">
                            <div class="col-12 col-sm-12 col-md-12">
                                <h5 class="pb-4 title-subtext">
                                @Html.Raw(Model.AboutILGSectionContentDetail.Title)</h5>
                                <h6 class="title-text">
                                    @Html.Raw(Model.AboutILGSectionContentDetail.SubTitle)
                                </h6>
                            </div>
                        </div>
                        <div class="justify-text-center about-us-cke-text">
                            @Html.Raw(Model.AboutILGSectionContentDetail.Summary)
                        </div>
                    </div>
                    <div class="img-col-container p-0 position-relative my-5">
                        <div class="img-container position-absolute back-img">
                            <img src="/Assets/images/Mask_gc@2x.png" class="w-100 h-100 ">
                        </div>
                        <div class="img-container position-absolute top-img">
                            <img src="/Uploads/HtmlContent/@Model.AboutILGSectionContentDetail.ImageURL" alt="@Model.AboutILGSectionImageDetail.AlternateText" class="w-100 h-100">
                        </div>
                    </div>

                </div>
            </div>
            </section>
<!-- ============================= /about-section =============================-->
   
