@using ILG_Global.BussinessLogic.ViewModels
@model AboutILGSectionVM
@{
}

<!-- ============================= about-section ====================================================-->

<section id="about" class="left position-relative">
    <div class="container pt-5 mt-5">
        <div class="pt-5 m-auto">
            <div class="row">
                <div class="col-lg-6">
                    <p class="green ">@Model.AboutILGSectionContentDetail.Title </p>
                    <h2 class="h1 pt-5 darkBlue fw-bold">@Model.AboutILGSectionContentDetail.SubTitle</h2>
                    <p class="mb-5 pb-5">
                        @Html.Raw(Model.AboutILGSectionContentDetail.Summary)

                        @*<span class="h3">W</span>e are uniquely positioned to provide fully
                        integrated
                        services across a
                        broad array of
                        practice areas. We pursue each matter with both diligence and creativity to achieve optimal
                        results.*@
                    </p>
                </div>
                <div class="col-lg-6 pt-1 ps-5">
                    <div class="position-relative text-end">
                        <img src="~/Assets/images/Mask.middle.png" alt="">
                        <div class="layer2">
                            <img src="~/Assets/images/@Model.AboutILGSectionImageDetail.ImageMaster.Name" alt="@Model.AboutILGSectionImageDetail.AlternateText">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= /about-section =============================-->
