
@{
}

<!-- ============================= ourWork-section =============================-->

<section id="ourwork">
    <div class="container m-auto">
        <div class="">
            <div class="row">
                <div class="col-lg-4 mb-5 pb-5 ">
                    <p class="green">HOW WE DO</p>
                    <h2 class="h1 darkBlue fw-bold mb-5">Case Process <br/>Steps</h2>
                </div>
                <div class="col-lg-8 text-center m-auto pt-5 mt-5">
                    <div class="d-flex justify-content-center">
                        <div class="outerCircle">
                            <div class="dots">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                </div>
                            </div>
                            <div class=" position-relative">
                                <div class="circle mb-5">
                                    <div class="middle-circle">
                                        <div class="white-circle">
                                            <img src="~/Assets/images/Message.svg" alt="Message icon"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="dotsData">
                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <div class="innerCircle">
                                            <div class="greenDot"></div>
                                        </div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="triangleDown"></div>
                                        <div class="circle-text toleft">
                                            <p class="mb-0">1."Receipt of case papers."</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ===============================================================SECOND CIRCLE==================================================================================== -->

                        <div class="outerCircle">
                            <div class="dots">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                </div>
                            </div>
                            <div class="position-relative">
                                <div class="rotatedcircle mt-5">
                                    <div class="middle-circle">
                                        <div class="white-circle">
                                            <img src="~/Assets/images/letter.svg" alt=" letter logo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="dotsDataFlipped">
                                    <div class="d-flex flex-column-reverse justify-content-center align-items-center ">
                                        <div class="innerCircle">
                                            <div class="greenDot"></div>
                                        </div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="triangleUp"></div>
                                        <div class="circle-text toRight">
                                            <p class="mb-0">2."Filing and reviewing the case."</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ===============================================================THIRD CIRCLE==================================================================================== -->

                        <div class="outerCircle">
                            <div class="dots">
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                    <div class="dots-sm"></div>
                                </div>
                            </div>
                            <div class=" position-relative">
                                <div class="circle mb-5">
                                    <div class="middle-circle">
                                        <div class="white-circle">
                                            <img src="~/Assets/images/customer-service.svg" alt="customer-service logo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="dotsData">
                                    <div class="d-flex flex-column justify-content-center align-items-center ">
                                        <div class="innerCircle">
                                            <div class="greenDot"></div>
                                        </div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="triangleDown"></div>
                                        <div class="circle-text toleft">
                                            <p class="mb-0">3."Receipt of case papers."</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ===============================================================FOURTH CIRCLE==================================================================================== -->
                        
                        <div class="outerCircle">
                            <div class="position-relative">
                                <div class="rotatedcircle mt-5">
                                    <div class="middle-circle">
                                        <div class="white-circle">
                                            <img src="~/Assets/images/court.svg" alt=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="dotsDataFlipped">
                                    <div class="d-flex flex-column-reverse justify-content-center align-items-center ">
                                        <div class="innerCircle">
                                            <div class="greenDot"></div>
                                        </div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="biggerDots"></div>
                                        <div class="triangleUp"></div>
                                        <div class="circle-text toRight">
                                            <p class="mb-0">4."The verdict in the case."</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= /ourWork-section =============================-->

