
@{
    // by sayed
}


<!-- ============================= family-section ========================================================-->
<section id="Family">
    <div class="container m-auto">
        <div class="owl-carousel">
            <div class="row flex-column-reverse flex-lg-row item ">
                <div class="col-lg-6 mb-5">
                    <div class="position-relative">
                        <img src="~/Assets/images/Mask_et.png" class="w-100" alt="">
                        <div class="def">
                            <img src="~/Assets/images/Mask_fc.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-5 ">
                    <p class="green pt-5 pb-4">
                        LAW SERVICE
                    </p>
                    <h1 class="darkBlue fw-bold">Family | Divorce Law</h1>
                    <p class="mt-5">
                        <span class="h3 ">O</span>ur team of best family lawyers in Kuwait will help you
                        stay ahead during
                        these times of emotional distress. With our expert team of family lawyers,
                        you will be girded with different strategies that will be helpful in your cause.
                        You can be ensured that you will be well guided through every step of the
                        legal proceedings by our family lawyers with an object to alleviate anxiety
                        and reduce stress.
                    </p>
                </div>
            </div>
            <div class="row flex-column-reverse flex-lg-row item ">
                <div class="col-lg-6 mb-5 ">
                    <div class="position-relative">
                        <img src="~/Assets/images/Mask_et.png" class="w-100" alt="">
                        <div class="def">
                            <img src="~/Assets/images/Mask_fc.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-5 ">
                    <p class="green pt-5 pb-4">
                        LAW SERVICE
                    </p>
                    <h1 class="darkBlue fw-bold">Family | Divorce Law</h1>
                    <p class="mt-5">
                        <span class="h3 ">O</span>ur team of best family lawyers in Kuwait will help you
                        stay ahead during
                        these times of emotional distress. With our expert team of family lawyers,
                        you will be girded with different strategies that will be helpful in your cause.
                        You can be ensured that you will be well guided through every step of the
                        legal proceedings by our family lawyers with an object to alleviate anxiety
                        and reduce stress.
                    </p>
                </div>
            </div>

            <div class="row flex-column-reverse flex-lg-row item ">
                <div class="col-lg-6 mb-5">
                    <div class="position-relative">
                        <img src="~/Assets/images/Mask_et.png" class="w-100" alt="">
                        <div class="def">
                            <img src="~/Assets/images/Mask_fc.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-5 ">
                    <p class="green pt-5 pb-4">
                        LAW SERVICE
                    </p>
                    <h1 class="darkBlue fw-bold">Family | Divorce Law</h1>
                    <p class="mt-5">
                        <span class="h3 ">O</span>ur team of best family lawyers in Kuwait will help you
                        stay ahead during
                        these times of emotional distress. With our expert team of family lawyers,
                        you will be girded with different strategies that will be helpful in your cause.
                        You can be ensured that you will be well guided through every step of the
                        legal proceedings by our family lawyers with an object to alleviate anxiety
                        and reduce stress.
                    </p>
                </div>
            </div>

            <div class="row flex-column-reverse flex-lg-row item ">
                <div class="col-lg-6 mb-5">
                    <div class="position-relative">
                        <img src="~/Assets/images/Mask_et.png" class="w-100" alt="">
                        <div class="def">
                            <img src="~/Assets/images/Mask_fc.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-5 ">
                    <p class="green pt-5 pb-4">
                        LAW SERVICE
                    </p>
                    <h1 class="darkBlue fw-bold">Family | Divorce Law</h1>
                    <p class="mt-5">
                        <span class="h3 ">O</span>ur team of best family lawyers in Kuwait will help you
                        stay ahead during
                        these times of emotional distress. With our expert team of family lawyers,
                        you will be girded with different strategies that will be helpful in your cause.
                        You can be ensured that you will be well guided through every step of the
                        legal proceedings by our family lawyers with an object to alleviate anxiety
                        and reduce stress.
                    </p>
                </div>
            </div>

        </div>

    </div>
    <div class="go-down">
        <a href="#footer"><i class="fas fa-arrow-down fa-2x"></i></a>
    </div>
</section>
<!-- ============================= /family-section =========================================-->
