
ILG_Global.BackEnd/ILG_Global.BackEnd.Web/bin/
ILG_Global.BackEnd/ILG_Global.BackEnd.Web/obj/
ILG_Global.FrontEnd/node_modules/
ILG_Global.BackEnd/.gitignore.
ILG_Global.BackEnd/.vs/
ILG_Global.BackEnd/ILG_Global.BackEnd.BussinessLogic/bin/
ILG_Global.BackEnd/ILG_Global.BackEnd.BussinessLogic/obj/
ILG_Global.BackEnd/ILG_Global.BackEnd.DataAccess/bin/
ILG_Global.BackEnd/ILG_Global.BackEnd.DataAccess/obj/

*.dll
ILG_Global.BussinessLogic/obj/Debug/net5.0/ILG_Global.BussinessLogic.GeneratedMSBuildEditorConfig.editorconfig
ILG_Global.BussinessLogic/obj/Debug/net5.0/ILG_Global.BussinessLogic.GeneratedMSBuildEditorConfig.editorconfig
ILG_Global.DataAccess/obj/Debug/net5.0/ILG_Global.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
ILG_Global.Web/obj/Debug/net5.0/ILG_Global.Web.csproj.AssemblyReference.cache
ILG_Global.Web/obj/Debug/net5.0/ILG_Global.Web.GeneratedMSBuildEditorConfig.editorconfig
ILG_Global.Web/obj/Debug/net5.0/project.razor.json
.vs/ILG_Global/v16/.suo
.vs/ILG_Global/v16/.suo
.vs/ILG_Global/v16/.suo
ILG_Global.BussinessLogic/bin/Debug/net5.0/ILG_Global.BussinessLogic.pdb
ILG_Global.BussinessLogic/Models/HtmlContentDetail.cs
*.pdb
*.cache
*.cache
*.cache
*.cache
.vs/ILG_Global/v16/.suo
