
ILG_Global.Web/bin/
ILG_Global.Web/obj/
.vs -f
ILG_Global.BussinessLogic/bin/
ILG_Global.BussinessLogic/obj/
ILG_Global.DataAccess/bin/
ILG_Global.DataAccess/obj/

*.dll
*.cache
*.pdb
ILG_Global.BackEnd/.gitignore.
*.v2
.vs/ILG_Global/v16/.suo
ILG_Global.DataAccess/obj/project.assets.json
.vs/ILG_Global/v16/.suo

.vs/ILG_Global/v16/.suo
