@model ILG_Global.BussinessLogic.Models.HtmlContentDetail
@{
    Layout = null;
}
<section class="header-banner d-flex justify-content-center align-item-center">
    <img src="~/Assets/Template/ILG-Website-master/assets/images/Mask.png" class="card-img" alt="...">
    <div class="overlay"></div>
    <div class="container mx-auto header-content d-flex flex-column justify-content-center text-white">
        <h5 class="card-title pb-5">
            
                @Model.Title
            
        </h5>
        <h1 class="card-text pt-3 pb-5">
            @Model.SubTitle
        </h1>

        <div>

            @Model.Summary
        </div>

        <div class="w-100 position-absolute mx-auto d-flex justify-content-center arrow-bottom pb-4">
            <button class=""><i class="fas fa-arrow-down"></i></button>
        </div>
    </div>

</section>