@model ILG_Global.BussinessLogic.Models.HtmlContentDetail
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@{
    Layout = null;
}
@inject IViewLocalizer Localizer

<section id="leaderBoard" class="header-banner d-flex justify-content-center align-item-center">
    <img src="/assets/images/@Localizer["Mask.jpg"]" class="card-img" alt="...">
    <div class="overlay"></div>
    <div class="container mx-auto header-content d-flex flex-column justify-content-center text-white">
        <h5 class="card-title pb-5">


            @Html.Raw(Model.Title)
        </h5>
        <h1 class="card-text pt-3 pb-5">
            @Html.Raw(Model.SubTitle)
        </h1>

        <div>
            @Html.Raw(Model.Summary)


        </div>

        <div class="w-100 position-absolute mx-auto d-flex justify-content-center arrow-bottom pb-4">
            <button class=""><i class="fas fa-arrow-down"></i></button>
        </div>
    </div>

</section>

