@using ILG_Global.BussinessLogic.ViewModels
@using ILG_Global.BussinessLogic.Models
@using Newtonsoft.Json;
@model SuccessStoriesVM

@{
    Layout = null;
    //SucessStoryDetail story = (SucessStoryDetail)ViewData["Story"];

}
<!-- success story section-->
<section class="container success-story-section general-section">
    <div class="row title">
        <div class="col-12 col-sm-12 col-md-6">
            <h5 class="pb-4 pt-5">@Model.SuccessStoriesSectionHeaderContent.Title</h5>
            <h6>
                @Model.SuccessStoriesSectionHeaderContent.SubTitle
            </h6>
        </div>
    </div>
    <div class="row contact-list flex-column-reverse flex-sm-column-reverse flex-md-row">
        <div id="success-story-slider" class="owl-carousel owl-theme">

            @if (Model.SucessStoryDetails.Any())
            {
                foreach (var SuccessStory in Model.SucessStoryDetails)
                {
                    var coll = SuccessStory.Title.Replace(" ", "") + "ss";

                    <div class="item position-relative">
                        <img src="assets/images/@SuccessStory.SucessStoryMaster.ImageName" class="w-100 h-100 position-absolute">
                        <div class="overlay w-100 h-100 position-absolute"></div>
                        <div class="slider-content text-white position-absolute p-4">
                            <h5 class="pb-2">@SuccessStory.Title</h5>
                            <button class="btn p-0" data-bs-toggle="modal" data-bs-target="#ee" onclick="GetSuccessStory(@JsonConvert.SerializeObject(@SuccessStory))">
                                <span>Learn More</span>
                                <i class="fas fa-arrow-right"></i>
                            </button>

                        </div>
                    </div>
                }
            }
        </div>



    </div>
</section>




<div class="modal fade" id="ee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:100%;">
        <div class="modal-content">
            <div class="modal-header">


                <button type="button" class="btn me-auto" data-bs-dismiss="modal" aria-label="Close">
                    <img src="~/Assets/fontawesome/svgs/Modal/3-layers.svg">
                </button>
            </div>

            <div class="modal-body">
                <h2 class="modal-title" id="modal-title"> </h2>
                <p id="SusccessStorySummary">
                   
                </p>
            </div>
            <div class="modal-footer ">
                <div class="row">
                    <div class="col-sm">
                        <button type="button" class="btn btn-secondary me-auto callus" data-bs-dismiss="modal">
                            <img src="~/Assets/fontawesome/svgs/Modal/Icon_material-call.svg" class="icon">
                            <span class="txt">Call Us</span>
                        </button>
                    </div>
                    <div class="col-sm">
                        <button type="button" class="btn me-auto makeappointment">
                            <img src="~/Assets/fontawesome/svgs/Modal/Icon_material-perm-contact-calendar.svg" class="icon">
                            <span class="txt">Make an appointmnent</span>
                        </button>
                    </div>
                        <div class="col-sm">
                            <div>
                                <button type="button" class="btn me-auto shareviaemail" data-bs-toggle="collapse" href="#coll" aria-expanded="false" aria-controls="collapseExample">
                                    <img src="~/Assets/fontawesome/svgs/Modal/Icon_ionic-md-share.svg" class="icon">
                                    <span class="txt">Share Via Email</span>
                                </button>
                            </div>
                           
                            <div class="collapse" id="coll">
                                <div class="card card-header">
                                    <span>Share Via Email</span>
                                </div>
                                <div class="card card-body">
                                    <input type="email" placeholder="Enter Your Email">

                                </div>
                                <div class="card card-footer">
                                    <button class="btn SendButton">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>

</div>




<script>

    function GetSuccessStory(SuccessStory) {
        console.log(SuccessStory);
        document.getElementById("modal-title").innerHTML = SuccessStory.Title
        document.getElementById("SusccessStorySummary").innerHTML = SuccessStory.Summary
    }
</script>


