
@{
    Layout = null;
}
<!-- success story section-->
<section class="container success-story-section general-section">
    <div class="row title">
        <div class="col-12 col-sm-12 col-md-6">
            <h5 class="pb-4 pt-5">SUCCESS STORIES</h5>
            <h6>
                Connecting The Right
                Dots Is The Key To Success
            </h6>
        </div>
    </div>
    <div class="row contact-list flex-column-reverse flex-sm-column-reverse flex-md-row">
        <div id="success-story-slider" class="owl-carousel owl-theme">
            <div class="item position-relative">
                <img src="assets/images/Mask_bz@2x.png" class="w-100 h-100 position-absolute">
                <div class="overlay w-100 h-100 position-absolute"></div>
                <div class="slider-content text-white position-absolute p-4">
                    <h5 class="pb-2">Heritage</h5>
                    <button class="btn p-0">
                        <span>Learn More</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

            <div class="item position-relative">
                <img src="assets/images/Mask_ce@2x.png" class="w-100 h-100 position-absolute">
                <div class="overlay w-100 h-100 position-absolute"></div>
                <div class="slider-content text-white position-absolute p-4">
                    <h5 class="pb-2">Divorce</h5>
                    <button class="btn p-0">
                        <span>Learn More</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

            <div class="item position-relative">
                <img src="assets/images/Mask_b@2x.png" class="w-100 h-100 position-absolute">
                <div class="overlay w-100 h-100 position-absolute"></div>
                <div class="slider-content text-white position-absolute p-4">
                    <h5 class="pb-2">kinship ties issues</h5>
                    <button class="btn p-0">
                        <span>Learn More</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

            <div class="item position-relative">
                <img src="assets/images/Mask_cf@2x.png" class="w-100 h-100 position-absolute">
                <div class="overlay w-100 h-100 position-absolute"></div>
                <div class="slider-content text-white position-absolute p-4">
                    <h5 class="pb-2">Burden of proof child custody</h5>
                    <button class="btn p-0">
                        <span>Learn More</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>

