@using ILG_Global.BussinessLogic.ViewModels
@using ILG_Global.BussinessLogic.Models

@model SuccessStoriesVM

@{
    Layout = null;
}
<!-- success story section-->
<section class="container success-story-section general-section">
    <div class="row title">
        <div class="col-12 col-sm-12 col-md-6">
            <h5 class="pb-4 pt-5">@Model.SuccessStoriesSectionHeaderContent.Title</h5>
            <h6>
                @Model.SuccessStoriesSectionHeaderContent.SubTitle
            </h6>
        </div>
    </div>
    <div class="row contact-list flex-column-reverse flex-sm-column-reverse flex-md-row">
        <div id="success-story-slider" class="owl-carousel owl-theme">

            @if (Model.SucessStoryDetails.Any())
            {
                for (int nCurrentSuccessStoryIndex = Model.SucessStoryDetails.Count() - 1; nCurrentSuccessStoryIndex >= 0; nCurrentSuccessStoryIndex--)
                {

                    <div class="item position-relative">
                        <img src="assets/images/@Model.SucessStoryDetails[nCurrentSuccessStoryIndex].SucessStoryMaster.ImageName" class="w-100 h-100 position-absolute">
                        <div class="overlay w-100 h-100 position-absolute"></div>
                        <div class="slider-content text-white position-absolute p-4">
                            <h5 class="pb-2">@Model.SucessStoryDetails[nCurrentSuccessStoryIndex].Title</h5>
                            <button class="btn p-0">
                                <span>Learn More</span>
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</section>

