@using ILG_Global.BussinessLogic.ViewModels
@using ILG_Global.BussinessLogic.Models

@model SuccessStoriesVM

@{
    Layout = null;
}
<!-- success story section-->
<section class="container success-story-section general-section">
    <div class="row title">
        <div class="col-12 col-sm-12 col-md-6">
            <h5 class="pb-4 pt-5">@Model.SuccessStoriesSectionHeaderContent.Title</h5>
            <h6>
                @Model.SuccessStoriesSectionHeaderContent.SubTitle
            </h6>
        </div>
    </div>
    <div class="row contact-list flex-column-reverse flex-sm-column-reverse flex-md-row">
        <div id="success-story-slider" class="owl-carousel owl-theme">

            @if (Model.SucessStoryDetails.Any())
            {
                for (int nCurrentSuccessStoryIndex = Model.SucessStoryDetails.Count() - 1; nCurrentSuccessStoryIndex >= 0; nCurrentSuccessStoryIndex--)
                {

            <div class="item position-relative">
                <img src="assets/images/@Model.SucessStoryDetails[nCurrentSuccessStoryIndex].SucessStoryMaster.ImageName" class="w-100 h-100 position-absolute">
                <div class="overlay w-100 h-100 position-absolute"></div>
                <div class="slider-content text-white position-absolute p-4">
                    <h5 class="pb-2">@Model.SucessStoryDetails[nCurrentSuccessStoryIndex].Title</h5>
                    <button class="btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span>Learn More</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
       
                    
              
            </div>



                    <!-- Modal -->
        


                }
            }
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">


                <button type="button" class="btn me-auto" data-bs-dismiss="modal" aria-label="Close">
                    <img src="/3-layers.svg">
                </button>
            </div>
            <div class="modal-body">
                <h1 class="modal-title" id="exampleModalLabel"> Heritage</h1>
                <p>
                    ipsum dolor sit amet consectetur adipisicing elit. Sunt ex a hic officiis aliquam blanditiis
                    at cum! Commodi aliquid aperiam tempore deserunt tenetur minima. Minus maxime exercitationem
                    reprehenderit voluptas neque.
                </p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary me-auto callus" data-bs-dismiss="modal">
                    <img src="/Icon_material-call.svg" class="icon">
                    <span class="txt">Call Us</span>
                </button>
                <button type="button" class="btn me-auto makeappointment">
                    <img src="/Icon_material-perm-contact-calendar.svg" class="icon">
                    <span class="txt">Make an appointmnent</span>
                </button>


                <button type="button" class="btn me-auto shareviaemail" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <img src="/Icon_ionic-md-share.svg" class="icon">
                    <span class="txt">Share Via Email</span>
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-header">
                        <span>Share Via Email</span>
                    </div>
                    <div class="card card-body">
                        <input type="email" placeholder="Enter Your Email">

                    </div>
                    <div class="card card-footer">
                        <button class="btn SendButton">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

