@font-face {
    font-family: Gotham;
    src: url(Fonts/Gotham_Medium/Gotham-Medium.eot);
    src: local('☺'),url(Fonts/Gotham_Medium/Gotham-Medium.woff) format('woff'),url(Fonts/Gotham_Medium/Gotham-Medium.ttf) format('truetype'),url(fonts/Gotham_Medium/Gotham-Medium.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

:root {
    --web-view-ids: ILG_Landing_page_design_English
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none
}

#ILG_Landing_page_design_English {
    position: absolute;
    width: 1920px;
    height: 5418px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: ILG_Landing page design –English;
    --web-view-id: ILG_Landing_page_design_English;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#Group_327 {
    position: absolute;
    width: 1920.319px;
    height: 980.391px;
    left: -.318px;
    top: 4802.1px;
    overflow: visible
}

#footer_block {
    fill: rgba(12,38,76,1)
}

.footer_block {
    overflow: visible;
    position: absolute;
    width: 1920.318px;
    height: 615.251px;
    transform: translate(.318px,-4646.1px) [object Object] rotate(180deg);
    transform-origin: center;
    left: 0;
    top: 0
}

#Group_63 {
    opacity: .31;
    mix-blend-mode: overlay;
    position: absolute;
    width: 392.719px;
    height: 980.391px;
    left: 1527.6px;
    top: 0;
    overflow: visible
}

#Path_21 {
    fill: rgba(206,216,226,1)
}

.Path_21 {
    overflow: visible;
    position: absolute;
    width: 392.719px;
    height: 483.099px;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Path_22 {
    fill: rgba(206,216,226,1)
}

.Path_22 {
    overflow: visible;
    position: absolute;
    width: 347.473px;
    height: 500.784px;
    left: 45.236px;
    top: 479.607px;
    transform: matrix(1,0,0,1,0,0)
}

#Group_107 {
    opacity: .14;
    mix-blend-mode: normal;
    position: absolute;
    width: 392.719px;
    height: 980.391px;
    left: 1524px;
    top: 1209.49px;
    overflow: visible
}

#Path_21_x {
    fill: rgba(206,216,226,1)
}

.Path_21_x {
    overflow: visible;
    position: absolute;
    width: 392.719px;
    height: 483.1px;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Group_272 {
    position: absolute;
    width: 2px;
    height: 17px;
    left: 1112.146px;
    top: 4439.383px;
    overflow: visible
}

#Advise_clients_about {
    left: 1301.604px;
    top: 4964px;
    position: absolute;
    overflow: visible;
    width: 327.396px;
    height: 28.8828125px;
    line-height: 81px;
    margin-top: -30.5px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(12,188,171,1);
    letter-spacing: 1.875px
}

#Group_273 {
    position: absolute;
    width: 155.493px;
    height: 41.685px;
    left: 1579.507px;
    top: 5015.36px;
    overflow: visible
}

#Group_274 {
    position: absolute;
    width: 155.493px;
    height: 41.685px;
    left: 0;
    top: 0;
    overflow: visible
}

#Rectangle_43 {
    fill: rgba(12,188,171,1)
}

.Rectangle_43 {
    filter: drop-shadow(0 3px 6px rgba(12, 188, 171, .408));
    position: absolute;
    overflow: visible;
    width: 173.493px;
    height: 59.686px;
    left: 0;
    top: 0
}

#Subscribe {
    left: 47.67px;
    top: 10.572px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    text-align: center;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: rgba(255,255,255,1)
}

#Group_291 {
    position: absolute;
    width: 156px;
    height: 20px;
    left: 1301.604px;
    top: 5025.36px;
    overflow: visible
}

#Placeholder {
    left: 0;
    top: 0;
    position: absolute;
    overflow: visible;
    width: 157px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(224,224,224,.769)
}

#Group_86 {
    opacity: .92;
    position: absolute;
    width: 1921px;
    height: 1166.856px;
    left: -1px;
    top: 0;
    overflow: visible
}

#Group_85 {
    position: absolute;
    width: 1921px;
    height: 1080.398px;
    left: 0;
    top: 0;
    overflow: visible
}

#About_Features_Servi {
    left: 645px;
    top: 59px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(12,38,76,1)
}

#Icon_awesome-arrow-up {
    fill: rgba(12,188,171,1)
}

.Icon_awesome-arrow-up {
    filter: drop-shadow(0 0 15px rgba(12, 188, 171, 1));
    overflow: visible;
    position: absolute;
    width: 30.698px;
    height: 31.504px;
    transform: matrix(1,0,0,1,944.2726,1015.2656) rotate(179deg);
    transform-origin: center;
    left: 0;
    top: 0
}

#Group_24 {
    position: absolute;
    width: 208px;
    height: 90px;
    left: 184px;
    top: 42px;
    overflow: visible
}

#Group_90 {
    opacity: .94;
    position: absolute;
    width: 383.373px;
    height: 525.46px;
    left: 8.513px;
    top: .299px;
    overflow: visible
}

#Group_73 {
    position: absolute;
    width: 383.373px;
    height: 525.46px;
    left: 402.956px;
    top: 0;
    overflow: visible
}

#Group_74 {
    position: absolute;
    width: 383.373px;
    height: 525.46px;
    left: 1191.842px;
    top: .299px;
    overflow: visible
}

#Group_92 {
    position: absolute;
    width: 383.373px;
    height: 525.46px;
    left: 0;
    top: 0;
    overflow: visible
}

#Klavdia_Dedova {
    filter: drop-shadow(0 3px 6px rgba(8, 89, 171, 1));
    left: 450.084px;
    top: 407.914px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    line-height: 33px;
    margin-top: -4px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(255,255,255,1)
}

#Group_91 {
    opacity: .51;
    position: absolute;
    width: 388.193px;
    height: 525.46px;
    left: 797.399px;
    top: .299px;
    overflow: visible
}

#Group_93 {
    opacity: .94;
    position: absolute;
    width: 383.373px;
    height: 525.46px;
    left: 1586.285px;
    top: .299px;
    overflow: visible
}

#Klavdia_Dedova_c {
    left: 1608.513px;
    top: 407.914px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    line-height: 33px;
    margin-top: -4px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(255,255,255,1)
}

#Group_265 {
    position: absolute;
    width: 108px;
    height: 21px;
    left: 43.641px;
    top: 461.554px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Examples_FromThe_Successful_Judgements_.html;
    cursor: pointer
}

#Group_266 {
    position: absolute;
    width: 108px;
    height: 21px;
    left: 450.084px;
    top: 461.554px;
    overflow: visible
}

#Group_341 {
    position: absolute;
    width: 108px;
    height: 21px;
    left: 828.513px;
    top: 461.554px;
    overflow: visible
}

#Group_342 {
    position: absolute;
    width: 108px;
    height: 21px;
    left: 1224.513px;
    top: 461.554px;
    overflow: visible
}

#Group_343 {
    position: absolute;
    width: 108px;
    height: 21px;
    left: 1610.443px;
    top: 461.554px;
    overflow: visible
}

#Group_344 {
    position: absolute;
    width: 108px;
    height: 21px;
    left: 450.084px;
    top: 461.554px;
    overflow: visible
}

#Group_125 {
    position: absolute;
    width: 176.829px;
    height: 20.999px;
    left: 1557.812px;
    top: 63.451px;
    overflow: visible
}

#Line_5 {
    fill: transparent;
    stroke: rgba(255,255,255,.498);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto
}

.Line_5 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 20px;
    left: 37.806px;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Line_6 {
    fill: transparent;
    stroke: rgba(255,255,255,.498);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto
}

.Line_6 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 20px;
    left: 88.806px;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Line_7 {
    fill: transparent;
    stroke: rgba(255,255,255,.498);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto
}

.Line_7 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 20px;
    left: 131.806px;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Group_139 {
    position: absolute;
    width: 33.757px;
    height: 27.992px;
    left: 184px;
    top: 4150.666px;
    overflow: visible
}

#Path_56 {
    fill: rgba(12,188,171,1)
}

.Path_56 {
    overflow: visible;
    position: absolute;
    width: 30.732px;
    height: 18.779px;
    left: 0;
    top: 9.213px;
    transform: matrix(1,0,0,1,0,0)
}

#Path_57 {
    fill: rgba(12,188,171,1)
}

.Path_57 {
    overflow: visible;
    position: absolute;
    width: 14.022px;
    height: 19.142px;
    left: 19.734px;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Path_58 {
    fill: rgba(12,188,171,1)
}

.Path_58 {
    overflow: visible;
    position: absolute;
    width: 18.259px;
    height: 11.989px;
    left: .249px;
    top: 3.152px;
    transform: matrix(1,0,0,1,0,0)
}

#Rectangle {
    opacity: .12;
    fill: rgba(255,255,255,1)
}

.Rectangle {
    position: absolute;
    overflow: visible;
    width: 1550.784px;
    height: 1.165px;
    left: 184.608px;
    top: 5297.504px
}

#Icon_awesome-arrow-up_d {
    fill: rgba(12,188,171,1)
}

.Icon_awesome-arrow-up_d {
    filter: drop-shadow(0 0 15px rgba(12, 188, 171, 1));
    overflow: visible;
    position: absolute;
    width: 30.698px;
    height: 31.504px;
    transform: matrix(1,0,0,1,949.9998,4855.642) rotate(0);
    transform-origin: center;
    left: 0;
    top: 0
}

#Group_26 {
    position: absolute;
    width: 234px;
    height: 100px;
    left: 184px;
    top: 4886.253px;
    overflow: visible
}

#Group_25 {
    position: absolute;
    width: 234px;
    height: 100px;
    left: 0;
    top: 0;
    overflow: visible
}

#We_provide_various_legal_servi {
    left: 184px;
    top: 5029px;
    position: absolute;
    overflow: visible;
    width: 336px;
    height: 245px;
    line-height: 41px;
    margin-top: -10.5px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(206,216,226,.31);
    letter-spacing: .875px
}

#Menu {
    left: 624.313px;
    top: 4964px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(12,188,171,1);
    letter-spacing: 1.875px;
    text-transform: uppercase
}

#About_Features_Servi_ee {
    left: 624.313px;
    top: 5024.328px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,1)
}

#About_Features_Servi_ef {
    left: 624.313px;
    top: 5066.272px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,1)
}

#About_Features_Servi_eg {
    left: 624.313px;
    top: 5109.382px;
    position: absolute;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,1)
}

#About_Features_Servi_eh {
    left: 624.313px;
    top: 5151.326px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,1)
}

#Group_146 {
    position: absolute;
    width: 173.865px;
    height: 20.999px;
    left: 1562.135px;
    top: 5340px;
    overflow: visible
}

#Group_108 {
    position: absolute;
    width: 63.788px;
    height: 27px;
    left: 1384.265px;
    top: 59.377px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: ILG_Landing_page_design___Arabic.html;
    cursor: pointer
}

#Service {
    left: 184px;
    top: 2229.39px;
    position: absolute;
    overflow: visible;
    width: 212px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(12,188,171,1);
    letter-spacing: 1.875px;
    text-transform: uppercase
}

#Group_23 {
    position: absolute;
    width: 235.356px;
    height: 65.247px;
    left: 1162.526px;
    top: 4261.673px;
    overflow: visible
}

#Group_275 {
    position: absolute;
    width: 624.622px;
    height: 211.447px;
    left: 1279.378px;
    top: 2063.169px;
    overflow: visible
}

#Group_247 {
    position: absolute;
    width: 145.047px;
    height: 145.048px;
    left: 243.26px;
    top: 33.77px;
    overflow: visible
}

#Path_106 {
    fill: rgba(9,59,109,1)
}

.Path_106 {
    filter: drop-shadow(0 3px 6px rgba(12, 188, 171, .408));
    overflow: visible;
    position: absolute;
    width: 163.047px;
    height: 163.048px;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Group_246 {
    position: absolute;
    width: 76.857px;
    height: 76.925px;
    left: 34.095px;
    top: 34.062px;
    overflow: visible
}

#Path_47 {
    fill: rgba(249,255,254,1)
}

.Path_47 {
    overflow: visible;
    position: absolute;
    width: 62.311px;
    height: 64.597px;
    left: 0;
    top: 12.329px;
    transform: matrix(1,0,0,1,0,0)
}

#Path_48 {
    fill: rgba(249,255,254,1)
}

.Path_48 {
    overflow: visible;
    position: absolute;
    width: 24.998px;
    height: 24.769px;
    left: 51.86px;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Path_49 {
    fill: rgba(249,255,254,1)
}

.Path_49 {
    overflow: visible;
    position: absolute;
    width: 48.583px;
    height: 31.474px;
    left: 0;
    top: 3.59px;
    transform: matrix(1,0,0,1,0,0)
}

#Path_50 {
    fill: rgba(249,255,254,1)
}

.Path_50 {
    overflow: visible;
    position: absolute;
    width: 12.494px;
    height: 37.021px;
    left: 63.524px;
    top: 23.17px;
    transform: matrix(1,0,0,1,0,0)
}

#Path_51 {
    fill: rgba(249,255,254,1)
}

.Path_51 {
    overflow: visible;
    position: absolute;
    width: 15.081px;
    height: 2.654px;
    left: 56.811px;
    top: 4.893px;
    transform: matrix(1,0,0,1,0,0)
}

#Path_52 {
    fill: rgba(249,255,254,1)
}

.Path_52 {
    overflow: visible;
    position: absolute;
    width: 10.134px;
    height: 2.657px;
    left: 56.817px;
    top: 9.838px;
    transform: matrix(1,0,0,1,0,0)
}

#Path_53 {
    fill: rgba(249,255,254,1)
}

.Path_53 {
    overflow: visible;
    position: absolute;
    width: 2.804px;
    height: 2.634px;
    left: 69.133px;
    top: 9.848px;
    transform: matrix(1,0,0,1,0,0)
}

#Group_251 {
    position: absolute;
    width: 332.226px;
    height: 125.43px;
    left: 300.706px;
    top: 85.118px;
    overflow: visible
}

#Group_256 {
    position: absolute;
    width: 191.32px;
    height: 53px;
    left: 140.222px;
    top: 1.701px;
    overflow: visible
}

#Group_189 {
    position: absolute;
    width: 191.32px;
    height: 53px;
    left: 0;
    top: 0;
    overflow: visible
}

#Path_90 {
    fill: rgba(12,188,171,1);
    stroke: rgba(9,59,109,1);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto
}

.Path_90 {
    filter: drop-shadow(0 3px 6px rgba(12, 188, 171, .408));
    overflow: visible;
    position: absolute;
    width: 201.694px;
    height: 71.098px;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Path_102 {
    fill: rgba(9,59,109,1)
}

.Path_102 {
    filter: drop-shadow(0 3px 6px rgba(9, 59, 109, .4));
    overflow: visible;
    position: absolute;
    width: 176.132px;
    height: 144.328px;
    left: 0;
    top: 0;
    transform: matrix(1,0,0,1,0,0)
}

#Group_255 {
    position: absolute;
    width: 191.697px;
    height: 53.196px;
    left: -.001px;
    top: 73.83px;
    overflow: visible
}

#Group_304 {
    position: absolute;
    width: 144.685px;
    height: 24.606px;
    left: 464.937px;
    top: 100.081px;
    overflow: visible
}

#Group_284 {
    position: absolute;
    width: 98.762px;
    height: 22.119px;
    left: 36.032px;
    top: 89.331px;
    overflow: visible
}

#Group_257 {
    position: absolute;
    width: 145.047px;
    height: 145.048px;
    left: 1522.638px;
    top: 3421px;
    overflow: visible
}

#Group_70 {
    position: absolute;
    width: 85px;
    height: 16px;
    left: 535px;
    top: 1919.677px;
    overflow: visible
}

#Group_286 {
    position: absolute;
    width: 754.69px;
    height: 588.303px;
    left: 200.244px;
    top: 1298.293px;
    overflow: visible
}

#Group_122 {
    position: absolute;
    width: 738.311px;
    height: 588.303px;
    left: 16.379px;
    top: 0;
    overflow: visible
}

#Group_289 {
    position: absolute;
    width: 754.689px;
    height: 588.303px;
    left: 90px;
    top: 0;
    overflow: visible
}

#Group_288 {
    position: absolute;
    width: 738.31px;
    height: 588.303px;
    left: 16.379px;
    top: .001px;
    overflow: visible
}

#Group_287 {
    position: absolute;
    width: 738.31px;
    height: 588.303px;
    left: 0;
    top: 0;
    overflow: visible
}

#Line_8 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto
}

.Line_8 {
    overflow: visible;
    position: absolute;
    width: 432.734px;
    height: 1px;
    left: 1301.935px;
    top: 5071.64px;
    transform: matrix(1,0,0,1,0,0)
}

#Service_gw {
    left: 938.313px;
    top: 4964px;
    position: absolute;
    overflow: visible;
    width: 96px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -10px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(12,188,171,1);
    letter-spacing: 1.875px;
    text-transform: uppercase
}

#Klavdia_Dedova_gy {
    left: 938.313px;
    top: 5078.409px;
    position: absolute;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: rgba(255,255,255,1)
}

#Magnus_Kekhuis {
    left: 938.313px;
    top: 5120.354px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: rgba(255,255,255,1)
}

#Usha_Oliver {
    left: 938.313px;
    top: 5162.298px;
    position: absolute;
    overflow: visible;
    width: 149px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -9.5px;
    text-align: left;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: rgba(255,255,255,1)
}

#Family_Conflicts {
    left: 938px;
    top: 5028px;
    position: absolute;
    overflow: visible;
    width: 149px;
    height: 31px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(155,193,226,1)
}