@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IViewLocalizer Localizer

@{
    IRequestCultureFeature requestCulture = Context.Features.Get<IRequestCultureFeature>();
    string CurrentCulture = requestCulture.RequestCulture.Culture.Name;

    //List<SelectListItem> cultureItems = LocOptions.SupportedCultures
    //    .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
    //    .ToList();
    string arculture = "ar";
    string enculture = "en";
    //CultureInfo enculture = LocOptions.SupportedUICultures.Where(SS => SS.Name == "en").SingleOrDefault();
    //CultureInfo arculture = LocOptions.SupportedUICultures.Where(SS => SS.Name == "ar").SingleOrDefault();
    //var dd = Context.Features.Get<QueryStringRequestCultureProvider>();
    //var dl = Context.Request.QueryString.Value;
    //string returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value + Context.Request.QueryString.Value}";


}


<!-- =========================================== nav-section =========================================== -->
<nav class="navbar navbar-expand-lg py-3">
            <div class="container py-2 px-3 px-sm-3 px-md-0">
                <a class="navbar-brand col-12 col-sm-12 col-md-2">
                    <img loading="lazy" class="img-brand white-img"
                         src="/Assets/images/Group_25@2x.png"
                         alt="Ideaeg logo">
                    <img loading="lazy" class="img-brand dark-img d-none"
                         src="/Assets/images/Mask_Group_25.png"
                         alt="Ideaeg logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end w-100 p-0">
                            <ul class="navbar-nav p-0">
                                <li class="nav-item">
                                    <a class="nav-link active hover-underline-animation px-2" href="#ourService">@Localizer["Law Service"] </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active hover-underline-animation px-2" href="#about">@Localizer["Who are we"]</a>
                                </li>
                       
                                <li class="nav-item hover-underline-animation">
                                    <a class="nav-link active hover-underline-animation px-2" href="#how-we-do">@Localizer["How we do"] </a>
                                </li>
                                <li class="nav-item hover-underline-animation">
                                    <a class="nav-link active hover-underline-animation px-2" href="#contactUs">@Localizer["Contact us"]  </a>
                                </li>
                            </ul>
                            <li class="nav-item col-12 col-sm-12 col-md-2 d-flex justify-content-center align-items-center">
                                <a class="nav-link toggle-lang" href="#">

                                    @if (requestCulture.RequestCulture.Culture.Name == "ar")
                                    {
                                      <form id="SelectEnglish" action="/en/">
                                          <button type="submit" class="btn btn-default btn-xs nav-link">
                                              <i class="fas fa-globe px-2"></i>
                                              EN
                                          </button>
                                      </form>
                                    }
                                    else
                                    {
                                     <form id="SelectEnglish" action="/ar/">
                                        <button type="submit" class="btn btn-default btn-xs nav-link">
                                            <i class="fas fa-globe px-2"></i>
                                            AR
                                        </button>
                                      </form>
                                    }
                                </a>
                            </li>
                            <li class="nav-item row justify-content-center align-items-center social-container icon-col">
                                <a class="nav-link col icon" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="nav-link col icon" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="nav-link col icon" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="nav-link col icon border-0" href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

<script>
    window.addEventListener("scroll", function () {

        var header = this.document.querySelector("nav");
        header.classList.toggle("scroll", this.window.scrollY > 0);

    })
</script>
<!-- =========================================== /nav-section =========================================== -->
