@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');



* {
    font-family: 'Cairo', sans-serif;
    text-align: right;
}

body {
    overflow-x: hidden;
}

.green {
    color: var(--green-color) !important;
}

.third-section {
    direction: rtl;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.darkBlue {
    color: #0c264c !important;
}

.w-85 {
    width: 85%;
}

:root {
    --blue-color: #093B6D;
    --green-color: #0CBCAB;
}

a {
    text-decoration: none;
}

/* ===================== nav-section ============================= */
#nav {
    direction: rtl;
}


.navbar-brand {
    height: 80px;
}

.language {
    color: var(--blue-color);
    font-weight: bold;
}

.mobile-nav {
    position: fixed;
    top: 80px;
    left: 0%;
    right: 0%;
    background-color: rgba(255, 255, 255, 1);
    border-top: 3px solid var(--green-color);
    border-bottom: 3px solid var(--green-color);
    z-index: 1000;
    display: none;

}

.nav-color {
    color: var(--green-color);
}

.accent-color,
.mob-social {
    color: var(--blue-color);
}

.social-nav {
    display: none;
}




/* ===================== /nav-section ============================= */


/*============================= family-section============================= */
#Family h1 {
    font-size: 40px;
    font-weight: 600;
}

#Family p,
#about-us p {
    color: #111111;
    opacity: 0.5;
}

#Family .def {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    left: 30px;
    top: 30px;
}

.owl-dots {
    text-align: left;
    margin-left: 20%;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: var(--green-color);
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.go-down {
    position: absolute;
    bottom: 10px;
    right: 50%;
    color: var(--green-color);
    z-index: 5;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.fa-arrow-down {
    color: var(--green-color);
    text-shadow: 0px 0px 20px var(--green-color);
}

/*============================= /family-section============================= */

/*============================= about-section=============================*/
.relative {
    position: relative;
}

.contact-details {
    position: absolute;
    top: 0px;
    left: 150px;
    cursor: pointer;
    z-index: 10000000;
}

.bigger-circle {
    padding: 20px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.big-circle {
    border-radius: 50%;
    outline: 10px solid transparent;
    z-index: 4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.contact-circle {
    width: 100px;
    height: 100px;
    background-color: var(--green-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 7px solid var(--blue-color);
}

.arm1 {
    left: -49px;
    top: 70px;
    height: 10px;
    width: 50px;
    background-color: var(--blue-color);
}

.arm2 {
    right: -49px;
    top: 80px;
    height: 10px;
    width: 50px;
    background-color: var(--blue-color);
}

.left-contact {
    position: absolute;
    left: -170px;
    top: 45px;
    background-color: var(--green-color);
    border-bottom-right-radius: 0px !important;
    padding: 10px 20px;
    border: 4px solid var(--blue-color);
}

.fa-caret-left {
    position: absolute;
    font-size: 30px;
    right: -6px;
    top: 12px;
    color: var(--blue-color);
}

.fa-caret-right {
    position: absolute;
    font-size: 30px;
    left: -6px;
    top: 8px;
    color: var(--blue-color);
}

.contact-hover {
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}

.contact-details:hover .bigger-circle {
    border-radius: 50%;
    border: 10px solid var(--blue-color);
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact-details:hover .contact-hover {
    opacity: 1;
    cursor: pointer;
}

.right-contact {
    position: absolute;
    left: 180px;
    top: 60px;
    background-color: var(--green-color);
    border-top-left-radius: 0px !important;
    padding: 10px 20px;
    border: 4px solid var(--blue-color);
}

#about-us * {
    z-index: 1;
}

#about-us::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
    background-position-x: 100%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    z-index: -1;
}

.layer2 {
    position: absolute;
    right: -10px !important;
    bottom: -10px;
}

.upper {
    z-index: 3;
}

/*============================= /about-section=============================*/

/*============================= ourWork-section=============================*/

.circle {
    border: 12px solid #0c264c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-right-style: dotted;
}

.outerCircle {
    position: relative;
}

.dots {
    position: absolute;
    top: 40%;
    right: 0;
    left: 100%;
}

.dots-sm {
    width: 0px;
    height: 0px;
    border: 1px solid #0c264c;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #0c264c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rotatedcircle {
    border: 12px solid #0c264c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.middle-circle {
    background-color: var(--green-color);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: 10px solid white;
}

.white-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.h1 {
    width: 600px;
}

.white-circle img {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.triangleUp {
    width: 30px;
    height: 30px;
    clip-path: polygon(51% 50%, 24% 100%, 81% 100%);
    background-color: var(--green-color);
    margin-bottom: 8px;
}

.triangleDown {
    width: 30px;
    height: 30px;
    clip-path: polygon(52% 50%, 24% 0, 81% 0);
    background-color: var(--green-color);
    margin-top: 8px;
}

.dotsData {
    z-index: 100;
    position: absolute;
    top: 100%;
    bottom: 150px;
    /* top: 100%; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.dotsDataFlipped {
    position: absolute;
    bottom: 100%;
    /* top: 150px; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.biggerDots {
    width: 5px;
    height: 5px;
    background-color: #0c264c;
    margin-bottom: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1000;
}

.circle-text {
    width: 260px;
    height: auto;
    color: white;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    border-radius: 45px;
    -webkit-border-radius: 450px;
    -moz-border-radius: 450px;
    -ms-border-radius: 450px;
    -o-border-radius: 450px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 1px 5px #0ff3dc !important;
}

.circle-text p {
    padding: 5px !important;
}

.third {
    width: 310px !important;
}

.innerCircle {
    width: 8px;
    height: 8px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border: 10px solid white;
    outline: 3px solid #0cbcab;
    margin: 10px 0;
    position: relative;
}

.greenDot {
    width: 6px;
    height: 6px;
    background-color: var(--green-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*============================= /ourWork-section=============================@*/

/* ============================= contact us section ============================= */

#contact {
    direction: rtl;
}

.contact-info i {
    color: var(--green-color);
}

.contact-info a {
    text-decoration: underline;
}

.contact-description-sm {
    display: none;
}

.map {
    height: 500px;
    background-color: #D8D8D8;
}

.map button {

    background-color: var(--green-color);
    border: none;
    box-shadow: 0px 1px 30px -1px rgba(12, 188, 171, 0.81);
    -webkit-box-shadow: 0px 1px 30px -1px rgba(12, 188, 171, 0.81);
    -moz-box-shadow: 0px 1px 30px -1px rgba(12, 188, 171, 0.81);
}


/* ============================= /contact us section ============================= */

/* ============================= footer section============================= */

#footer {
    direction: rtl;
}

/* .footer-logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../images/Group_59.png);
    background-repeat: no-repeat;
    background-size: 20% auto;
    opacity: .2;
    
} */

#footer * {
    z-index: 3;
}

#footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: 18% auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(12, 38, 76, 0.9), rgba(12, 38, 76, 0.9)), url(../images/logo.png);
    background-position-x: 100%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    z-index: 0;
}

#footer .container {
    z-index: 3;
}

.footer-section {
    background-color: #0C264C;
    ;
}



.footer-description {
    color: #707070;
    line-height: 35px;
    letter-spacing: 1.5px;
}

.l-space {
    letter-spacing: 1.5px;
}

.l-height {
    line-height: 35px;
}

.footer-section input {
    background-color: transparent;
    border: none;
}

.footer-section input:focus {
    outline: none;

}

.sub-btn {
    background-color: var(--green-color);
    font-size: 12px;
    box-shadow: 0px 1px 30px -1px rgba(12, 188, 171, 0.81);
    -webkit-box-shadow: 0px 1px 30px -1px rgba(12, 188, 171, 0.81);
    -moz-box-shadow: 0px 1px 30px -1px rgba(12, 188, 171, 0.81);
}

.btnSubmit {
    background-color: transparent;
    border-bottom: 1px solid #707070;

}

.footer-bottom-border {
    border-bottom: 1px solid #707070;
}

.footer-end-item {
    color: #707070;
}

.footer-icons-big {
    color: #707070;
    text-align: left;
}

.footer-icons-small {
    color: #707070;
    text-align: left;
    display: none;
}

.go-up {
    position: absolute;
    top: 15px;
    right: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.fa-arrow-up {
    color: var(--green-color);
    text-shadow: 0px 0px 20px var(--green-color);
}

.small-screen-links {
    display: none !important;
}


/* ============================= /footer section============================= */


@media screen and (min-width: 992px) {

    #toggler-btn,
    #hide-nav {
        display: none !important;
    }

    .contact-description {
        display: block !important;
    }

    .layer2 {
        right: -300px;
    }
}



@media screen and (max-width: 992px) {
    .navbar-brand {
        height: 50px;
    }

    .contact-us .contact-info .py-4 {
        padding: 12px 0 !important;
    }

    .contact-us .contact-info i,
    .contact-us .contact-info a {
        font-size: 16px !important;
    }

    .contact-us .contact-info p {
        font-size: 18px !important;
    }

    .contact-description-sm {
        display: block !important;
    }

    .contact-description {
        display: none !important;
    }

    .footer-bottom {
        text-align: center;
    }

    .sub-btn {
        margin-top: 30px;
    }

    .btnSubmit {
        border: none;
    }

    .footer-section input {
        border-bottom: 1px solid #707070;
        height: 60px;
    }

    .footer-end,
    .footer-icons {
        text-align: center !important;
    }

    .footer-icons-small {
        display: block;
        text-align: center !important;
        margin-top: 20px;
    }

    .footer-icons-big,
    .go-up,
    .go-down,
    .big-screen-slider {
        display: none;
    }

    .small-screen-slider {
        display: block !important;
    }

    .big-screen-links {
        display: none !important;
    }

    .small-screen-links {
        display: flex !important;
    }

    .img-layer-desc {
        width: 80%;
    }

    .m-top-sm {
        margin-top: 40px;
    }

    .left-right-space {
        padding: 0px 20px 30px 20px;
    }

    .footer-bottom * {
        text-align: center;
    }

    .owl-dots {
        text-align: center;
        margin-left: 0;
    }

    .go-down {
        display: none;
    }

    /* ===================== contact-us icon ===================== */
    .left-contact {
        left: -120px;
        top: 25px;
        padding: 10px 0px;
        border: 4px solid #093B6D;
    }

    .right-contact {
        left: 110px;
        top: 28px;
        padding: 10px 1px 10px 10px;
        border: 4px solid #093B6D;
    }

    #contact-photo {
        width: 50px;
    }

    .bigger-circle {
        padding: 10px;
        border: 5px solid transparent;

    }

    .contact-circle {
        width: 70px;
        height: 70px;
        outline: 5px solid #093B6D;
    }

    .contact-details:hover .bigger-circle {

        border: 5px solid #093B6D;
        border-top-color: transparent;
        border-bottom-color: transparent;

    }

    .arm1 {
        left: -15px;
        top: 50px;
        height: 5px;
        width: 20px;
        background-color: #093B6D;
    }

    .arm2 {
        right: -15px;
        top: 50px;
        height: 5px;
        width: 20px;
        background-color: #093B6D;
    }

    .whats-app {
        width: 130px;
    }

    .contact-details {
        top: 100px;
    }

    #footer * {
        z-index: 1;
    }

    #footer::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: linear-gradient(rgba(12, 38, 76, 0.9), rgba(12, 38, 76, 0.9)), url(../images/mobile-footer.png);
        background-position-x: 100%;
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        z-index: 0;
    }

    /* ============================== /contact-us icon ============================== */
}


@media screen and (max-width:750px) {
    .middle-circle {
        width: 100px;
        height: 100px;
    }

    .circle-text {
        max-width: 170px;
        font-size: 12px;
    }

    .white-circle img {
        width: 45px;
    }

    .white-circle {
        width: 75px !important;
        height: 75px !important;
    }

}

@media screen and (max-width:565px) {
    .middle-circle {
        width: 70px;
        height: 70px;
    }

    .circle-text {
        min-width: 110px;
        font-size: 12px;
    }

    .white-circle img {
        width: 30px;
    }

    .white-circle {
        width: 55px !important;
        height: 55px !important;
    }

}

@media screen and (max-width:430px) {
    .left-contact svg {
        width: 75px;
    }

    .contact-details {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .circle-text {
        padding: 3px 10px;
        height: auto;
        max-width: 110px;
        font-size: 12px;
    }

    .layer2 {
        bottom: -30px;
        right: -40px !important;
    }

    .left-contact {
        left: -95px;
    }

    .right-contact svg {
        width: 100px;
    }

    .right-contact {
        left: 110px;
    }
}