/*general style*/
@font-face {
    font-family: 'Gotham';
    src: url(../Fonts/Gotham_Medium/Gotham-Medium.eot);
    src: local('☺'), url(../Fonts/Gotham_Medium/Gotham-Medium.woff) format('woff'), url(../Fonts/Gotham_Medium/Gotham-Medium.ttf) format('truetype'), url(../fonts/Gotham_Medium/Gotham-Medium.svg) format('svg');
    font-weight: 400;
    font-style: normal
}


:root {
    --main-color: rgba(12, 38, 76, 1);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gotham' , serif;

}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.w-fit-content{
    width: fit-content !important;
}

/********************************** general style **********************************/
/**********************************************************************************/

.justify-text-center {
    text-align: justify !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    max-width: 85% !important;
    height: 100%;
    margin: auto;
}

.home-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-native-scrollbar {
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* Internet Explorer 11 */
}

.hide-native-scrollbar::-webkit-scrollbar { /** WebKit */
    display: none;
}

/********************************** navbar style **********************************/
/**********************************************************************************/
/*navbar style*/
.sticky-nav {
    background: white !important;
    color: var(--main-color) !important;
}

.sticky-nav .navbar{
    box-shadow: 3px -1rem 1.7rem rgb(0 0 0 / 18%) !important;

}

.sticky-nav li a , .sticky-nav .navbar .navbar-toggler{
    color: var(--main-color) !important;
}

.sticky-nav .nav-link {
    color: var(--main-color) !important;
}
.sticky-nav .dark-img {
    display: block !important;
}

.sticky-nav .white-img {
    display: none !important;
}

.navbar {
    position: relative;
    z-index: 500;
    width: 100%;
    top: 0;
    background: inherit;
}

.img-brand{
    width: 50%;
}

.navbar-nav .navbar-nav {
    width: 60%;
    justify-content: space-evenly;
}

.navbar .navbar-toggler {
    font-size: calc(25px + (25 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: white;
}

.navbar .nav-item .nav-link {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}


.toggle-lang{
    font-weight: 600;
}

.navbar .nav-item .icon, footer .footer-bottom .icon {
    padding: 0 10px !important;
    border-right: 1px solid rgba(222, 220, 220, 0.73);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
}
.mobile-nav  .nav-item .nav-link{
    color: white !important;
}

.sticky-nav .mobile-nav  .nav-item .nav-link{
    color: var(--main-color) !important;
}

/*main header style*/
header {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000;
}
#app .header-banner {
    position: relative;
    width: 100%;
    min-height: 100Vh;
}

#app .header-banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    object-fit: cover;
    object-position: left 53% top 0;
}

#app .header-banner .header-content h5 {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
}

#app .header-banner .header-content h5, #app .header-banner .header-content p {
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
}

#app .header-banner .header-content h5, #app .header-banner .header-content p {
    color: rgba(224, 224, 224, 0.769);
    font-weight: 350;
}

#app .header-banner .header-content h1 {
    color: rgba(255, 255, 255, 1);
    font-size: calc(50px + (93 - 50) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    letter-spacing: inherit;
}

#app .header-banner .header-content .arrow-bottom button:focus, .arrow-top button:focus {
    outline: none !important;
}

#app .header-banner .header-content .arrow-bottom button:hover, .arrow-top button:hover {
    padding-bottom: 10px;
}

#app .header-banner .header-content .arrow-bottom button, .arrow-top button {
    background: transparent;
    box-shadow: none;
    border: none;
    text-shadow: 2px 2px 5px rgb(12 188 171);
    color: rgba(12, 188, 171, 1);
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
    transition: 0.5s;

}

.arrow-top {
    top: 0;
}

#app .header-banner .header-content .arrow-bottom {
    bottom: 0;
}

#app .header-banner .header-content {
    position: absolute;
    z-index: 70;
    width: 100%;
    height: 100%;
}

#app .header-banner .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 50;

}

/*our service section*/
.our-service-section .img-col-container{
    width:650px;
    height: 650px;
    max-width: 85vw;
}

.our-service-section .img-container {
    width:600px;
    height: 600px;
    max-width: 75vw;
}

.our-service-section .img-col-container .top-img{
    bottom: 0;
    right: 0;
}

.our-service-section .img-col-container .back-img{
    top: 0;
    left: 0
}

.our-service-section .shield-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#our-service-slider .our-service-slider-image img {
    object-fit: none;
    /*box-shadow: -2px -7px 20px 0px #005991;*/
    width: 95% !important;
    max-width: 100vw;
}

#our-service-slider .our-service-slider-image .our-service-slider-image-col {
    position: relative !important;
}


#our-service-slider .our-service-slider-image {
    width: 700px;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#our-service-slider .owl-dots {
    display: flex !important;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

#our-service-slider .owl-dots button span {
    width: 16px;
    height: 16px;
}

#our-service-slider .owl-dots .active span {
    background: rgba(12, 188, 171, 1);
}

/*success story section*/
.success-story-section #success-story-slider .owl-stage-outer .item .overlay:hover {
    background: gray;
    opacity: 0.3;
    cursor: pointer;
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content h5 {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-width: 600;
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content button {
    color: rgba(12, 188, 171, 1);
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 350;
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content button span {
    transition: all 0.5s;
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content button:hover span {
    padding-right: 10px;
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content {
    z-index: 50;
    bottom: 0;
    width: 100%;
}

.success-story-section #success-story-slider .owl-stage-outer .item .overlay {
    z-index: 10;
    background: linear-gradient(180deg, transparent, #005991);
    opacity: 0.7;
}

.success-story-section #success-story-slider .owl-stage-outer {
    padding: 20px 0;
}

.success-story-section #success-story-slider .item img {
    object-fit: cover;
}

.success-story-section #success-story-slider .item {
    height: 400px;
    box-shadow: 4px -2px 7px 0px #005991;
}

.success-story-section #success-story-slider .owl-nav button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
    color: rgba(12, 188, 171, 1);
}

.success-story-section .fa-phone {
    transform: scaleX(-1);
}
.success-story-section #success-story-slider .owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(25px + (25 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(12, 188, 171, 1);
}

.contact-list-modal .modal-header button {
    background: none;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(9, 59, 109, 1);
}

.contact-list-modal .modal-header {
    border: none;
}

.contact-list-modal ul {
    list-style: none;
}

.contact-list-modal h2 {
    font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(9, 59, 109, 1);
    font-weight: bold;
}


.contact-list-modal .info i {
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(12, 188, 171, 1);
}

.contact-list-modal .info span {
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(9, 59, 109, 1);
}

.contact-list-modal .info .btn span,
.contact-list-modal .info .btn i {
    color: white;
}

.contact-list-modal .info .btn:hover {
    box-shadow: 1px 1px 20px 0px rgb(12 188 171) !important;
}

.contact-list-modal .info a:hover {
    box-shadow: 7px 9px 20px 0px #dbd8d8 !important;
    border-radius: 25px;
}

.contact-list-modal .info a {
    color: rgba(9, 59, 109, 1);
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.contact-list-modal .info .btn {
    background: rgba(12, 188, 171, 1);
    border-radius: 25px;
    transition: 0.3s;
}

.contact-list-modal input:active, .contact-list-modal input:focus  {
    border-color: rgba(12, 188, 171, 1) !important;
}

.contact-list-modal .info .close-btn {
    border-radius: 25px;
    transition: 0.3s;
}

.contact-list-modal .info .close-btn:hover {
    box-shadow: 7px 9px 20px 0px #dbd8d8 !important;
}

/*general section style*/
#app .general-section .title h5 {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(12, 188, 171, 1);
    font-weight: 350;
}

#app .general-section .title h6 {
    font-size: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    color: var(--main-color);
    padding-bottom: 50px;
}

#app .general-section p {
    line-height: 32px;
    font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(17, 17, 17, 0.502);
    font-width: 350;
}

#app .general-section p span {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
}

/*contact us section style*/
#app .contact-us-section {
    padding-bottom: 100px;
}

 iframe {
    width: 100%;
    height: 650px;
}

#app .contact-us-section .contact-list ul {
    list-style: none;
}

#app .contact-us-section .contact-list li {
    display: flex;
}


#app .contact-us-section .contact-list i, #app .contact-us-section .contact-list li,
#app .contact-us-section .contact-list a {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: var(--main-color);
    text-decoration: none;
}

 #app .contact-us-section .contact-list li a[href]{
     text-decoration: underline;
 }
 
 #app .contact-us-section .contact-list li a{
    font-weight: 350;
}

#app .contact-us-section .contact-us-sub-title p{
    font-size: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
    color: var(--main-color);
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

#app .contact-us-section .contact-list i {
    color: rgba(12, 188, 171, 1);

}

/*footer style*/
footer .footer-gn-text {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(206, 216, 226, 0.31);
}

footer {
    background: var(--main-color);
    width: 100%;
    padding: 60px 0 40px;
}

footer .container-fluid {
    padding-right: 7.5% !important;
    padding-left: 7.5% !important;
}

footer .img-container {
    width: 70%;
}

footer .footer-col-title-container {
    padding-bottom: 48px;
}

footer .footer-col-title {
    font-size: calc(16px + (16 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(12, 188, 171, 1);
    font-weight: 600;
    padding-bottom: 30px !important;
}


footer .footer-col-content, footer .footer-col-content a {
    text-decoration: none;
    font-size: calc(9px + (13 - 9) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(255, 255, 255, 1);
    padding: 0;
    font-weight: 300;
}

footer li {
    padding-bottom: 20px;
}

footer ul {
    list-style: none;
}

footer .join-us-input button:hover {
    color: white;
}

footer .join-us-input button {
    border-radius: 25px !important;
    background: rgba(12, 188, 171, 1);
    color: white;
    font-size: calc(9px + (13 - 9) * ((100vw - 300px) / (1600 - 300)));
}

footer .join-us-input {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

footer .join-us-input .input-group {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

footer .join-us-input input,
footer .join-us-input input:active,
footer .join-us-input input:focus {
    outline: 0 !important;
    background: transparent;
    border: none !important;
    outline-width: 0 !important;
    color: white;
    outline: none;
    font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
}

footer .footer-bottom {
    border-top: 0.5px solid rgba(206, 216, 226, 0.31);
    /*padding-top: 40px !important;*/
    padding-bottom: 0 !important;
}

footer .footer-bottom .footer-bottom-row li, footer .footer-bottom .footer-bottom-row li a {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300))) !important;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
}

footer .footer-bottom .footer-bottom-row li:hover {
    text-decoration: underline;
}

footer .footer-bottom .footer-bottom-row li {
    color: rgba(255, 255, 255, 0.502);
    padding: 0;
}

footer .copy-right:hover {
    text-decoration: none !important;
    cursor: inherit !important;
}
footer .footer-bottom .footer-bottom-row li a {
    color: white;
}


@media (max-width: 991px) {
    .contact-details, .ilg-to-oppisit-direction{
        display: none !important;
    }
    .navbar .nav-item .nav-link {
        justify-content: start !important;
    }

    .navbar .social-container .nav-link {
        justify-content: center !important;
    }

    .middle-circle img {
        width: 50% !important;
    }
    .white-circle {
        width: 40px !important;
        height: 40px !important;
    }
    .middle-circle {
        width: 50px !important;
        height: 50px !important;
    }

    .circle-text{
        padding-bottom: 30px !important;
        padding-top: 30px !important;
        width: 104px !important;
    }

    .navbar .nav-item .nav-link {
        color: var(--main-color);
    }

    .navbar .offcanvas-body {
        overflow-x: hidden;
        overflow-y: scroll;
        padding-bottom: 60px;
    }

    .navbar .offcanvas-body .navbar-nav .icon-col {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px 0;
        margin: auto;
    }

    .navbar .offcanvas-body .navbar-nav .nav-item .icon {
        color: var(--main-color) !important;
    }

    .navbar .offcanvas-body .navbar-nav .nav-item {
        justify-content: start !important;

    }

    .navbar .offcanvas-body .navbar-nav li:hover {
        color: var(--main-color);
    }

    .navbar .offcanvas-body .navbar-nav li {
        padding: 5px 20px;
    }

    .navbar .offcanvas-body .navbar-nav {
        width: 100%;
    }

    .navbar .offcanvas-body {
        padding: 0;
    }

    #app .contact-us-section .title h6 {
        padding-bottom: 50px;
    }

    #app .contact-us-section iframe {
        height: 500px;
    }

    .arrow-bottom, .arrow-top {
        visibility: hidden;
    }

    .success-story-section #success-story-slider .owl-stage-outer .item {
        height: 500px;
    }

    .success-story-section #success-story-slider .owl-stage-outer .item .overlay:hover {
        background: #005991;
        opacity: 0.5;
        cursor: pointer;
    }
}

@media (min-width: 2500px) {
    .navbar .nav-item .icon, footer .footer-bottom .icon {
        width: 100px;
        height: 20px;
    }

    .container {
        max-width: 60% !important;
    }

}

@media (max-width: 991px) {
    .mobile-lang-item{
        display: block !important;
    }
    .web-lang-item{
        display: none !important;
    }
    .reversed-footer-col{
        flex-direction: column-reverse !important;
    }
    .footer-line{
        display: block !important;
    }
    .navbar .navbar-brand {
        max-width: 100px;
    }

    .container {
        max-width: 90% !important;
    }

    .our-service-section .contact-list {
        flex-direction: column-reverse !important;
    }
    
    #about-container .contact-list {
        flex-direction: column-reverse !important;
    }
    
    .our-service-section .contact-list .col-12 {
        width: 100% !important;
        justify-content: center;
    }

    #our-service-slider .owl-dots {
        width: 100%;
    }

    #our-service-slider .our-service-slider-image {
        position: relative;
        display: none;
        margin: auto;
    }

    #our-service-slider .main-slider-image {
        display: block;
        left: 0 !important;
        bottom: 0 !important;
        object-fit: cover;
    }

    #our-service-slider .main-slider-image img {
        box-shadow: none;
    }

    footer .col-12 {
        width: 100%;
    }

    footer img {
        max-width: 50%;
    }

    footer .footer-col-content li{
        text-align: center;
        margin: auto;
    }

    footer .footer-bottom {
        justify-content: center !important;
        align-items: center !important;
        border: none;
    }

    footer .footer-bottom .footer-icon-col {
        min-width: 50% !important;
    }

    footer .footer-bottom-row {
        padding-bottom: .5rem !important;
    }
}

.go-to-action {
    margin-top: 40px;
    padding: 10px;
    background-image: url("../images/go-to-action-shrinked.png");
    background-size: 100% 100%;
    width: 98px;
    height: 100px;
    margin-left: 88%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    bottom: 10px;
}

.go-to-action:hover {
    background-image: url("../images/go-to-action-expanded.png");
    margin-left: 82.5%;
    width: 300px;
    height: 100px;

}


/**************************** quick call icon  ****************************/
.quick-contact-main-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100%;
    z-index: 20000;
    /*  border:solid 1px red;*/
}

.quick-contact-main-container .quick-contact {
    bottom: 0;
    z-index: 100000;
}

.quick-contact-main-container .quick-contact .right-wing,
.quick-contact-main-container .quick-contact .left-wing,
.quick-contact-main-container .quick-contact .center-circle {
    /*  border: solid 1px red;*/
    height: 126px;
    cursor: pointer;
}

.quick-contact-main-container .quick-contact .left-wing {
    background-size: contain;
    background-image: url(../images/Quick-Call/left-wing.png);
    width: 188px;
    /* border: solid 1px green; */
    background-repeat: no-repeat;
    position: relative;
    left: 61px;
    background-position-y: -9px;
    z-index: 12;
    /* height: 10px!important; */
    background-position-x: 5px;
    background-position-y: -2px;
    /* border: solid 1px red; */
    top: -7px;
}

.quick-contact-main-container .quick-contact .center-circle {
    background-image: url(../images/Quick-Call/quick-call-circle.png);
    background-position-x: 2px !important;
    background-repeat: no-repeat;
    width: 114px;
    z-index: 10;
    position: static;
    background-size: contain;
}


.quick-contact-main-container .quick-contact .right-wing {
    background-image: url(../images/Quick-Call/right-wing.png);
    background-position-x: -4px;
    position: relative;
    left: -56px;
    background-repeat: no-repeat;
    width: 188px;
    background-position-y: 41px;
    /* border: solid 1px blue; */
    z-index: 12;
    background-size: contain;
}

.quick-contact-main-container .quick-contact .wings {
    visibility: hidden;
}

.quick-contact-main-container .quick-contact .left-wing a.link {
    cursor: pointer;
    padding: 15px 58px;
    /* border: solid 1px red; */
    position: relative;
    top: 52px;
    left: -4px;
}

.quick-contact-main-container .quick-contact .right-wing a.link {
    cursor: pointer;
    padding: 15px 59px;
    /* border: solid 1px red; */
    position: relative;
    top: 51px;
    /* right: -110px; */
    right: -68px;
}

.ilg-to-oppisit-direction {
    /*
    float: right;
    */
    display: flex;
    justify-content: end;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: -4%;
    left: auto;
    right: 0;
    width: fit-content;
}


@media screen and (max-width: 1310px) and  (min-width: 991px){
    .our-service-section .img-col-container{
        width:450px;
        height: 450px;
    }

    .our-service-section .img-container {
        width:400px;
        height: 400px;
    }
    #ourService .row  .p-container{
        padding: 0px 10px !important;
    }
 
/*    #ourService .row  .p-container{
        width: 100% !important;
    }
    #ourService .row {
        flex-direction: column-reverse !important;
    }*/
}
@media screen and (max-width: 600px) {
    
    #app .header-banner {
        min-height: 600px;
    }

    .ilg-to-oppisit-direction {
        float: right;
        position: fixed;
        bottom: 10px;
        right: -0%;
    }

    .innerCircle {
        border: 5px solid white !important;
    }

    .our-service-section .img-col-container{
        height: 400px !important;
    }
    .our-service-section .img-container{
        height: 350px !important;
    }

    #about #about-container .img-container{
        height: 400px !important;
    }
    #about #about-container .img-col-container {
        height: 450px !important;
    }
}


.circle {
    border: 12px solid #0c264c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-right-style: dotted;
}

.outerCircle {
    position: relative;
}

.dots {
    position: absolute;
    top: 40%;
    right: 0;
    left: 100%;
}

.dots-sm {
    width: 0px;
    height: 0px;
    border: 1px solid #0c264c;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #0c264c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rotatedcircle {
    border: 12px solid #0c264c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.middle-circle {
    background-color: #0cbcab;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: 10px solid white;
}

.white-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-circle img {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.triangleUp {
    width: 30px;
    height: 30px;
    clip-path: polygon(51% 50%, 24% 100%, 81% 100%);
    background-color: #0cbcab;
    margin-bottom: 8px;
}

.triangleDown {
    width: 30px;
    height: 30px;
    clip-path: polygon(52% 50%, 24% 0, 81% 0);
    background-color: #0cbcab;
    margin-top: 8px;
}

.dotsData {
    z-index: 100;
    position: absolute;
    top: 100%;
    bottom: 150px;
    /* top: 100%; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.dotsDataFlipped {
    position: absolute;
    bottom: 100%;
    /* top: 150px; */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.biggerDots {
    width: 5px;
    height: 5px;
    background-color: #0c264c;
    margin-bottom: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1000;
}

.circle-text {
    width: 260px;
    height: fit-content !important;
    padding: 10PX !important;
    color: white;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    background-color: #0cbcab;
    -webkit-border-radius: 450px;
    -moz-border-radius: 450px;
    -ms-border-radius: 450px;
    -o-border-radius: 450px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 1px 2px #0ff3dc;
}

.steps-container p{
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
    color: white !important;
    line-height: normal !important;
    max-height: auto !important;
}


.circle-text p {
    padding: 5px !important;
}

.innerCircle {
    width: 8px;
    height: 8px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border: 10px solid white;
    outline: 3px solid #0cbcab;
    margin: 10px 0;
    position: relative;
}

.greenDot {
    width: 6px;
    height: 6px;
    background-color: var(--green-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.contact-details {
    position: fixed;
    bottom: 30px;
    right: 255px;
    cursor: pointer;
    z-index: 10000000;
}

.bigger-circle {
    padding: 20px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.big-circle {
    border-radius: 50%;
    outline: 10px solid transparent;
    z-index: 4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(-89deg);
    -webkit-transform: rotate(-89deg);
    -moz-transform: rotate(-89deg);
    -ms-transform: rotate(-89deg);
    -o-transform: rotate(-89deg);
}

.contact-circle {
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: #0cbcab;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px solid #093B6D;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);

}

.arm1 {
    left: -40px;
    top: 54px;
    height: 10px;
    width: 50px;
    background-color: #093B6D;
    display: none;
}

.arm2 {
    right: -40px;
    top: 47px;
    height: 10px;
    width: 50px;
    background-color: #093B6D;
    display: none;
}

.left-contact {
    position: absolute;
    left: -189px;
    top: 30px;
    background-color: #0CBCAB;
    border-bottom-right-radius: 0px !important;
    padding: 10px 20px;
    border: 4px solid #093B6D;
    display: none;

}

.fa-caret-left {
    position: absolute;
    font-size: 30px;
    right: -6px;
    top: 12px;
    color: #093B6D;
}

.fa-caret-right {
    position: absolute;
    font-size: 30px;
    left: -6px;
    top: 8px;
    color: #093B6D;
}

.contact-hover {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

}

.contact-details:hover .arm1,  .contact-details:hover .arm2, .arm2:hover, .arm1:hover,
.contact-details:hover .left-contact,  .contact-details:hover .right-contact{
    display: block;

}

.contact-details .left-contact a,
.contact-details .right-contact a{
    font-size: calc(10px + (10 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
    display: flex;
    justify-content: start;
    align-items: center;    

}
.contact-details:hover .bigger-circle {
    border: 10px solid #093B6D;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.contact-details .bigger-circle {
    border-radius: 50%;
    padding: 10px !important;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(223deg);
    -webkit-transform: rotate(223deg);
}

.contact-details:hover .contact-hover {
    cursor: pointer;
}

.right-contact {
    position: absolute;
    left: 150px;
    top: 25px;
    background-color: #0CBCAB;
    border-top-left-radius: 0px !important;
    padding: 10px 20px;
    border: 4px solid #093B6D;
    display: none;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}

.layer2 {
    position: absolute;
    right: -10px !important;
    bottom: -10px;
}


.curved-text{
    position:relative;
    display:inline-block;
    margin:0 auto;
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
}

.curved-text span{
    min-width:0.5em;
    text-align:center;
    padding:0;
    margin:0;
}

#about #about-container .img-col-container{
    width: 450px;
    height: 550px;
}

#about #about-container .img-container{
    width: 400px;
    height: 500px;
}

.ilg-to-oppisit-direction{
    bottom: 0px;
    -webkit-animation: forwards infinite;
    -webkit-animation-name: callActionMove;
    -webkit-animation-duration: 0.5s;
}

.ilg-to-oppisit-direction:hover{
    -webkit-animation: none !important;
    -webkit-animation-name: callActionMove;
}

@-webkit-keyframes callActionMove {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 5px;
    }
    100%{
        bottom: 0px;
    }

}

.ourServices-div-container{
    z-index: 2;
}

.leaderBoard .leaderBoard-summary{
    line-height: 40px;
}

.continue-with-share-via-mail-text{
    color: rgba(12, 188, 171, 1);
    font-size: 15px
}


.success-story-section .shareViaMailModal-launch-btn{
    visibility: hidden
}

#shareViaMailModalGreeting .shareViaMailModalGreeting-cancel-btn, .shareViaMailModalGreeting-launch-btn{
    visibility: hidden
}

.contact-list-modal .success-storyDetail-Summary-container{
    height: 350px;
}

.modal{
    z-index: 10000000;
}

/*.how-we-do-col-padding{
    padding: 200px 0;
}*/

.form-control.is-invalid, .was-validated .form-control:invalid, .was-validated .form-control:invalid:focus,
.was-validated .form-control:valid, .was-validated .form-control:valid:focus{
    background-position: left calc(0.375em + 0.1875rem) center;
    padding-left: calc(1.5em + .75rem);
    padding-right: 10px;
}

.shareViaMailModalGreeting-launch-btn {
    visibility:hidden!important;
}

/************************************************** new-call-action **********************************************************************/
.new-call-action{
    position: fixed;
    bottom: 158px;
    right: 222px;
    width: 112px;
    height: 112px;
    z-index: 1000;
}

.new-call-action .main-icon-container{
    width: 112px;
    height: 112px;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.new-call-action .main-icon-container .img-container{
    cursor: pointer;
    width: 112px;
    height: 112px;
    background: rgba(12, 188, 171, 1);
    color: white;
    border-radius: 50%;
}

.new-call-action .main-icon-container .main-icon{

}

.new-call-action:hover .main-icon-container{
    transform: rotate(360deg);
    transition: transform 1s;
}

.new-call-action .phone-icon-container .img-container{
    cursor: pointer;
    width: 72px;
    height: 72px;
    background: rgba(12, 188, 171, 1);
    color: white;
    border-radius: 50%;
}
.new-call-action .phone-icon-container{
    height: 92px;
    width: 112px;
    position: absolute;
    top: 0;
    transition: top 1s;
}
.new-call-action:hover .phone-icon-container{
    top: -90px;
    transition:  top 1s;
    -webkit-transition: top 1s;
}

.new-call-action .phone-icon-container .phone-icon{

}

.new-call-action .whats-app-icon-container .img-container{
    cursor: pointer;
    width: 63px;
    height: 63px;
    background: rgba(12, 188, 171, 1);
    color: white;
    border-radius: 50%;
}
.new-call-action .whats-app-icon-container{
    width: 112px;
    height: 83px;
    position: absolute;
    top: 0;
    transition: top 1s;
}

.new-call-action:hover .whats-app-icon-container{
    top: -160px;
    transition:  top 1s;
    -webkit-transition: top 1s;
}

.new-call-action .whats-app-icon-container .whats-app-icon{

}
