@font-face {
    font-family: 'Cairo';
    src: url('../fonts/cairo/Cairo-Regular.eot');
    src: local('☺'), url('../fonts/cairo/Cairo-Regular.woff') format('woff'), url('../fonts/cairo/Cairo-Regular.ttf') format('truetype'), url('../fonts/cairo/Cairo-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cairo', serif;
}

*{
    direction: rtl;
}

.our-service-section .img-col-container .top-img{
    left: 0 !important;
    right: auto;
}

.our-service-section .img-col-container .back-img{
    right: 0 !important;
    left: auto;
}

#ourService .owl-item .row .our-service-bg-img{
    left: 50px !important;
}

.success-story-section .item .ilg-modal-open-button i{
    transform: scaleX(-1) !important;
}

#ourService .owl-item .row{
    direction: ltr;
    flex-direction: row-reverse !important; 
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content button:hover span {
    padding-left: 10px;
    padding-right: auto;
}

.success-story-section .fa-phone {
    transform: none !important;
}

.success-story-section #success-story-slider .owl-nav button{
    transform: scaleX(-1);
}
/********************footer********************/
.shield-bg img {
    transform: scaleX(-1);
}

@media (max-width: 991px) {
    #ourService .owl-item .row{
        direction: ltr;
        flex-direction: column-reverse !important;
    }
}



#app .contact-us-section .contact-list li .hi123 +a {
    direction:ltr!important;
}

.ilg-to-oppisit-direction
{
    direction: ltr;
}