@font-face {
    font-family: 'Cairo';
    src: url('../fonts/cairo/Cairo-Regular.eot');
    src: local('☺'), url('../fonts/cairo/Cairo-Regular.woff') format('woff'), url('../fonts/cairo/Cairo-Regular.ttf') format('truetype'), url('../fonts/cairo/Cairo-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cairo', serif;
}

*{
    direction: rtl;
}

#app .header-banner .header-content h5, #app .header-banner .header-content p {
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
}

#app .header-banner .header-content h1 {
    font-size: calc(50px + (75 - 50) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: inherit;
}

.our-service-section .img-col-container .top-img{
    left: 0 !important;
    right: auto;
}

.our-service-section .img-col-container .back-img{
    right: 0 !important;
    left: auto;
}

#ourService .owl-item .row .our-service-bg-img{
    left: 50px !important;
}

.success-story-section .item .ilg-modal-open-button i{
    transform: scaleX(-1) !important;
}

#ourService .owl-item .row{
    direction: ltr;
    flex-direction: row-reverse !important; 
}

.success-story-section #success-story-slider .owl-stage-outer .item .slider-content button:hover span {
    padding-left: 10px;
    padding-right: auto;
}

.success-story-section .fa-phone {
    transform: none !important;
}

.success-story-section #success-story-slider .owl-nav button{
    transform: scaleX(-1);
}
/********************footer********************/
.shield-bg img {
    transform: scaleX(-1);
}

@media (max-width: 991px) {
    #ourService .owl-item .row{
        direction: ltr;
        flex-direction: column-reverse !important;
    }
}



#app .contact-us-section .contact-list li .hi123 +a {
    direction:ltr!important;
}

.ilg-to-oppisit-direction
{
    direction: ltr;
}

.quick-contact-main-container .quick-contact .left-wing {
    background-image: url(../images/Quick-Call/left-wing.ar.png);
    z-index: inherit;
}

.quick-contact-main-container .quick-contact .right-wing {
    background-image: url(../images/Quick-Call/right-wing.ar.png);
    z-index: inherit;
}

.ilg-to-oppisit-direction{
    right: auto;
    left: 0;
    justify-content: start !important;
}

.quick-contact-main-container .quick-contact .left-wing a.link {
    left: 209px;
    z-index: 100;
}

.quick-contact-main-container .quick-contact .right-wing a.link {
    z-index: 100;
    right: 269px;
}

/************************************************** new-call-action **********************************************************************/
.new-call-action{
    right: auto;
    left: 172px;
}

@media (max-width: 991px) {
    /************************************************** new-call-action **********************************************************************/
    .new-call-action{
        right: auto;
        left: 30px;
    }
}